{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0.0",
    "title": "Bit2Me API Gateway",
    "description": "Bit2Me Wallet and gateway REST API. Server: https://gateway.bit2me.com. Sign private requests with HMAC as documented in Authentication. Gateway notification events are documented under Wallet → Notifications."
  },
  "servers": [
    {
      "url": "https://gateway.bit2me.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Access",
      "description": ""
    },
    {
      "name": "Account",
      "description": ""
    },
    {
      "name": "KYC",
      "description": ""
    },
    {
      "name": "Wallet",
      "description": ""
    },
    {
      "name": "Funding",
      "description": ""
    },
    {
      "name": "Transfers",
      "description": ""
    },
    {
      "name": "Earn",
      "description": ""
    },
    {
      "name": "Compliance",
      "description": ""
    },
    {
      "name": "Market",
      "description": ""
    },
    {
      "name": "Loan",
      "description": ""
    },
    {
      "name": "Misc",
      "description": ""
    }
  ],
  "paths": {
    "/v1/signin/apikey": {
      "post": {
        "tags": [
          "Access"
        ],
        "summary": "Get HMAC session token",
        "description": "HMAC API-key sign-in. Returns a session token for Pro WebSocket and for widgets when you send userId. This is not POST /v1/signin/embed.",
        "operationId": "signInApiKey",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "$ref": "#/components/schemas/UserIdParam"
                  }
                }
              }
            }
          },
          "description": "The data to sign in"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accessToken"
                  ],
                  "properties": {
                    "accessToken": {
                      "$ref": "#/components/schemas/TokenResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Js",
            "label": "Node",
            "source": "const axios = require('axios');\nconst crypto = require('crypto');\n\nconst API_KEY = 'YOUR_API_KEY';\nconst SECRET = 'YOUR_API_SECRET';\n\nconst NONCE = Date.now();\nconst PATH = '/v1/signin/apikey';\nconst SERVER = 'https://gateway.bit2me.com';\n\nconst getAuthHeaders = (nonce, path, body) => {\n  const messageToSign = getClientMessageToSign(nonce, path, body);\n  const signature = getMessageSignature(messageToSign, SECRET);\n\n  return {\n    headers: {\n      'x-api-key': API_KEY,\n      'api-signature': signature,\n      'x-nonce': nonce\n    }\n  };\n};\n\nconst getClientMessageToSign = (nonce, url, body) => {\n  const hasBody = !!body && Object.keys(body).length > 0;\n\n  return hasBody\n    ? `${nonce}:${url}:${JSON.stringify(body)}`\n    : `${nonce}:${url}`;\n};\n\nconst getMessageSignature = (message, secret) => {\n  const hash = crypto.createHash('sha256');\n  const hmac = crypto.createHmac('sha512', secret);\n  const hashDigest = hash.update(message).digest('binary');\n  const hmacDigest = hmac.update(hashDigest, 'binary').digest('base64');\n\n  return hmacDigest;\n};\n\nconst config = getAuthHeaders(NONCE, PATH);\naxios.post(`${SERVER}${PATH}`, undefined, config).then(response=>console.log(response.data));\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Get authorized token by apikey\ncurl -X POST ${SERVER_URL}/v1/signin/apikey\n  -H 'Content-type: application/json'\n  -H 'X-API-KEY: <api key>'\n  -H 'api-signature: <sign message>'\n  -H 'x-nonce: <nonce>'\n"
          }
        ]
      }
    },
    "/v1/signin/embed": {
      "post": {
        "tags": [
          "Access"
        ],
        "summary": "Exchange token for embed session",
        "description": "Token exchange for embed. POST /v1/signin/embed with accessToken. This is not HMAC API-key sign-in (use POST /v1/signin/apikey).",
        "operationId": "signinEmbed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accessToken"
                ],
                "properties": {
                  "accessToken": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "description": "The data to sign in",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accessToken",
                    "refreshToken"
                  ],
                  "properties": {
                    "accessToken": {
                      "$ref": "#/components/schemas/TokenResponse"
                    },
                    "refreshToken": {
                      "$ref": "#/components/schemas/TokenResponse"
                    },
                    "session": {
                      "$ref": "#/components/schemas/SessionResponse"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Cannot do embed logins",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Signin to embed subaccount\ncurl -X POST ${SERVER_URL}/v1/signin/embed\n  -H 'Content-type: application/json'\n  -d '{\"accessToken\":\"<token>\"}'\n"
          }
        ]
      }
    },
    "/v3/signin/sfa": {
      "get": {
        "tags": [
          "Access"
        ],
        "summary": "Check 2fa user type",
        "description": "Check active user verification and start the process",
        "operationId": "getSfaTypeAndInitProcess",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "sfaType",
                    "retryIntervalSeconds"
                  ],
                  "properties": {
                    "sfaType": {
                      "$ref": "#/components/schemas/TotpTypeParam"
                    },
                    "retryIntervalSeconds": {
                      "type": "number",
                      "example": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sfaTMR"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Get user 2fa type\ncurl -X GET ${SERVER_URL}/v3/signin/sfa\n  -H 'X-API-KEY: <api key>'\n"
          }
        ]
      }
    },
    "/v2/wallet/pocket/{pocketId}/{network}/address": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "List pocket addresses",
        "description": "Find all address by pocket ID and Network or create one new",
        "operationId": "findAddressesOrCreateOne",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "pocketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
            }
          },
          {
            "name": "network",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ethereum"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "createdAt",
                      "address",
                      "network",
                      "tag"
                    ],
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/IdParam"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "When the address was created (ISO 8601)"
                      },
                      "address": {
                        "$ref": "#/components/schemas/AddressParam"
                      },
                      "network": {
                        "$ref": "#/components/schemas/NetworkParam"
                      },
                      "tag": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Subaccount pocket addresses\ncurl -X GET ${SERVER_URL}/v2/wallet/pocket/{pocketId}/{network}/address\n  -H 'Content-type: application/json'\n  -H 'X-API-KEY: <api key>'\n  -H 'X-SUBACCOUNT-ID: <subaccount id>'\n    \n"
          }
        ]
      }
    },
    "/v1/wallet/pocket": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Create pocket",
        "description": "Create a new pocket",
        "operationId": "createPocket",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currency",
                  "name"
                ],
                "properties": {
                  "currency": {
                    "$ref": "#/components/schemas/CurrencyParam",
                    "description": "Value obtained from 'symbol' field in v2/currency/assets\n\n  Additional information of this endpoint is available in misc section\n"
                  },
                  "name": {
                    "$ref": "#/components/schemas/PocketNameParam"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/PocketIdParam"
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Pocket limit for a cryptocurrency exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Create subaccount pocket\ncurl -X POST ${SERVER_URL}/v1/wallet/pocket\n  -H 'Content-type: application/json'\n  -H 'X-API-KEY: <api key>'\n  -H 'X-SUBACCOUNT-ID: <subaccount id>'\n  -d '\n    {\n      \"currency\":\"BTC\",\n      \"name\":\"Bitcoin pocket\",\n      \"color\":\"0\"\n    }'\n    \n"
          }
        ]
      },
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Get pocket details",
        "description": "Get the data of a specific pocket or the data of all pockets of the user (if the *id* param is not set)",
        "operationId": "getPocketData",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "With this parameter you can specify the pocket you want to get the data from.\nIf this parameter is not set, all pockets of the user are returned",
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "name",
                      "color",
                      "currency",
                      "balance",
                      "blockedBalance",
                      "createdAt"
                    ],
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/PocketIdParam"
                      },
                      "name": {
                        "$ref": "#/components/schemas/PocketNameParam"
                      },
                      "color": {
                        "$ref": "#/components/schemas/PocketColorParam"
                      },
                      "currency": {
                        "$ref": "#/components/schemas/CurrencyParam"
                      },
                      "balance": {
                        "$ref": "#/components/schemas/AmountParam"
                      },
                      "blockedBalance": {
                        "$ref": "#/components/schemas/AmountParam"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "When the pocket was created (ISO 8601)"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Pocket not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Retrieve one pocket details\ncurl -X GET ${SERVER_URL}/v1/wallet/pocket?id=<pocketId>\n  -H 'Content-type: application/json'\n  -H 'X-API-KEY: <api key>'\n\n# Retrieve all pocket details\ncurl -X GET ${SERVER_URL}/v1/wallet/pocket\n  -H 'Content-type: application/json'\n  -H 'X-API-KEY: <api key>'\n\n# Subaccounts. Retrieve one pocket details\ncurl -X GET ${SERVER_URL}/v1/wallet/pocket?id=<pocketId>\n  -H 'Content-type: application/json'\n  -H 'X-API-KEY: <api key>'\n  -H 'X-SUBACCOUNT-ID: <subaccount id>'\n\n# Subaccounts. Retrieve all pocket details\ncurl -X GET ${SERVER_URL}/v1/wallet/pocket\n  -H 'Content-type: application/json'\n  -H 'X-API-KEY: <api key>'\n  -H 'X-SUBACCOUNT-ID: <subaccount id>'\n    \n"
          }
        ]
      },
      "put": {
        "tags": [
          "Wallet"
        ],
        "summary": "Update pocket",
        "description": "Update pocket data",
        "operationId": "setPocketData",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/PocketIdParam"
                  },
                  "name": {
                    "$ref": "#/components/schemas/PocketNameParam"
                  },
                  "color": {
                    "$ref": "#/components/schemas/PocketColorParam"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "404": {
            "description": "Pocket not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Wallet"
        ],
        "summary": "Delete pocket",
        "description": "Delete a pocket",
        "operationId": "deletePocket",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "404": {
            "description": "Pocket not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "Pocket is not empty",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/wallet/transaction": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Execute transaction",
        "operationId": "performTransaction",
        "description": "Executes a previously created transaction",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "proforma"
                ],
                "properties": {
                  "proforma": {
                    "$ref": "#/components/schemas/ProformaIdParam"
                  },
                  "concept": {
                    "$ref": "#/components/schemas/TransactionTextParam"
                  },
                  "note": {
                    "$ref": "#/components/schemas/TransactionTextParam"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "User does not have verified his email",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Proforma not found (it has expired or has never existed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Insufficient funds in the instant service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "Source pocket does not have enough funds to perform the transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "420": {
            "description": "2FA TOTP doesn't match",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Js",
            "label": "Node",
            "source": "const axios = require('axios');\nconst crypto = require('crypto');\n\nconst API_KEY = 'YOUR_API_KEY';\nconst SECRET = 'YOUR_API_SECRET';\n\nconst NONCE = Date.now();\nconst PATH = '/v1/wallet/transaction';\nconst SERVER = 'https://gateway.bit2me.com';\n\nconst getAuthHeaders = (nonce, path, body) => {\n  const messageToSign = getClientMessageToSign(nonce, path, body);\n  const signature = getMessageSignature(messageToSign, SECRET);\n\n  return {\n    headers: {\n      'x-api-key': API_KEY,\n      'api-signature': signature,\n      'x-nonce': nonce\n    }\n  };\n};\n\nconst getClientMessageToSign = (nonce, url, body) => {\n  const hasBody = !!body && Object.keys(body).length > 0;\n\n  return hasBody\n    ? `${nonce}:${url}:${JSON.stringify(body)}`\n    : `${nonce}:${url}`;\n};\n\nconst getMessageSignature = (message, secret) => {\n  const hash = crypto.createHash('sha256');\n  const hmac = crypto.createHmac('sha512', secret);\n  const hashDigest = hash.update(message).digest('binary');\n  const hmacDigest = hmac.update(hashDigest, 'binary').digest('base64');\n\n  return hmacDigest;\n};\n\nconst body = {\n    \"proforma\": \"PROFORMA_ID\" // id obtained in create transaction step\n  };\n\nconst config = getAuthHeaders(NONCE, PATH, body);\naxios.post(`${SERVER}${PATH}`,body,config).then(response=>console.log(response.data));\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Execute previously created transaction\ncurl -X POST /v1/wallet/transaction\n-H 'Content-type: application/json'\n-H 'X-API-KEY: <api key>'\n-d '{\n    \"proforma\":\"<proforma ID>\"\n  }'\n\n# Subaccounts: Execute previously created transaction\ncurl -X POST /v1/wallet/transaction\n-H 'Content-type: application/json'\n-H 'X-API-KEY: <api key>'\n-H 'X-SUBACCOUNT-ID: <subaccount id>'\n-d '{\n    \"proforma\":\"<proforma ID>\"\n  }'\n"
          }
        ]
      },
      "get": {
        "deprecated": true,
        "tags": [
          "Wallet"
        ],
        "summary": "List transactions (v1, deprecated)",
        "operationId": "getTransaction",
        "description": "Obtains all transactions related to a pocket. If pocketId is not specified, all user's transactions are returned.\n\n Transactions can be paginated using **offset** and **limit** parameters. For example, to get the third page and show 20 registers per page you would use the following query:\n ```\n /v1/wallet/transaction?offset=40&limit=20\n ```\n Multiple filtering options could be applied when retrieving transactions. Example:\n ```\n /v1/wallet/transaction?pocketId=9a2dfa96-2fb8-4b76-a9bd-83949c417540&type=deposit\n ```",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "pocketId",
            "in": "query",
            "required": false,
            "description": "The pocket identifier to get the transactions or comma delimited list of pocket IDs",
            "example": "9a2dfa96-2fb8-4b76-a9bd-83949c417540",
            "schema": {
              "type": "string",
              "pattern": "^([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12},?)+$"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specify the number of entries to be skipped (0 by default)",
            "example": 40,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Specify the maximum number of entries to be returned (20 by default)",
            "example": 20,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Specify a list (comma-separated values) of keywords to be used to filter the query",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 120,
              "pattern": "^[\\w\\u00C0-\\u017F \\-,]+$"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Specify the transaction type to filter the entries to be returned (or comma delimited list of types)",
            "example": "deposit",
            "schema": {
              "type": "string",
              "enum": [
                "transfer",
                "withdrawal",
                "deposit"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/QuerySubtypeParam"
          },
          {
            "$ref": "#/components/parameters/QueryMethodParam"
          },
          {
            "name": "from",
            "in": "query",
            "description": "Specify the start date (ISO 8601) to filter the date (mandatory if the to parameter is set)",
            "example": "2022-01-07T00:00:00.000Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Specify the end date (ISO 8601) to filter the date (mandatory if the from parameter is set)",
            "example": "2022-07-07T00:00:00.000Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "userCurrency",
            "in": "query",
            "description": "The user's currency (used to show a rate from it to Euro)",
            "example": "EUR",
            "schema": {
              "type": "string",
              "default": "EUR"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "total",
                    "data"
                  ],
                  "properties": {
                    "total": {
                      "type": "number",
                      "description": "Number of returned entries"
                    },
                    "data": {
                      "type": "array",
                      "description": "Transactions returned",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "date",
                          "type",
                          "concept",
                          "origin",
                          "destination"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The transaction identifier"
                          },
                          "date": {
                            "type": "string",
                            "format": "date",
                            "description": "When the transaction was created (ISO 8601)"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "deposit",
                              "withdrawal",
                              "transfer"
                            ],
                            "description": "Type of the transaction"
                          },
                          "concept": {
                            "type": "string",
                            "description": "The concept of the transaction"
                          },
                          "origin": {
                            "type": "object",
                            "description": "Origin of the transaction",
                            "required": [
                              "class",
                              "pocketName",
                              "pocketId"
                            ],
                            "properties": {
                              "currency": {
                                "type": "string",
                                "description": "The currency of the origin (only present for \"outcome transactions\")"
                              },
                              "amount": {
                                "type": "string",
                                "description": "The total amount of \"money\" that is taken from origin (only present for \"outcome transactions\")"
                              },
                              "pocketId": {
                                "type": "string",
                                "description": "The destination pocket ID of the transaction (null when class is \"pocket\" or \"b2m\")"
                              },
                              "pocketName": {
                                "type": "string",
                                "description": "The destination pocket name (null when class is \"pocket\" or \"b2m\")"
                              },
                              "class": {
                                "type": "string",
                                "enum": [
                                  "pocket",
                                  "network",
                                  "b2m",
                                  "card",
                                  "bank transfer"
                                ],
                                "description": "Type of the origin:\n- pocket: origin is another pocket\n- network: origin is a cryptocurrency address\n- b2m: origin is another Bit2Me user\n- card: origin is a credit or debit card\n- bank transfer: origin is a bank transfer\n"
                              },
                              "rate": {
                                "$ref": "#/components/schemas/RateParam"
                              }
                            }
                          },
                          "destination": {
                            "type": "object",
                            "description": "Destination of the transaction",
                            "required": [
                              "class",
                              "pocketName",
                              "pocketId"
                            ],
                            "properties": {
                              "currency": {
                                "type": "string",
                                "description": "The destination currency"
                              },
                              "amount": {
                                "type": "string",
                                "description": "The total amount of \"money\" that the destination receives"
                              },
                              "pocketName": {
                                "type": "string",
                                "description": "The destination pocket name"
                              },
                              "pocketId": {
                                "type": "string",
                                "description": "The destination pocket ID"
                              },
                              "address": {
                                "type": "string",
                                "description": "The destination address"
                              },
                              "addressNetwork": {
                                "type": "string",
                                "description": "The destination address network"
                              },
                              "addressInBlacklist": {
                                "type": "boolean",
                                "description": "Indicates if destination address is in blacklist"
                              },
                              "class": {
                                "type": "string",
                                "enum": [
                                  "pocket",
                                  "network",
                                  "b2m",
                                  "bankAccount"
                                ],
                                "description": "Type of the destination:\n- pocket: destination is another pocket\n- network: destination is an cryptocurrency address\n- b2m: destination is another Bit2Me user\n- bankAccount: destination is a bank account\n"
                              },
                              "rate": {
                                "$ref": "#/components/schemas/RateParam"
                              }
                            }
                          },
                          "transaction": {
                            "type": "object",
                            "description": "Network transaction",
                            "properties": {
                              "confirmedAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "When the transaction was confirmed (ISO 8601)."
                              },
                              "confirmationCount": {
                                "type": "number",
                                "minimum": 0,
                                "description": "The number of confirmations the transaction has."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/wallet/transaction/proforma": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Create transaction",
        "operationId": "createTransaction",
        "description": "Creates a new proforma transaction (it includes an expiration time)\n\n If the *type* parameter is not specified, *REA* is used by default.\n\n The *destination* parameter only accepts one field (use *destination.address* to specify a cryptocurrency address or *destination.pocket* to specify the ID of the destination pocket)\n\n **Security Constraints:** User's *email* **must** be validated in order to use this endpoint.\n\n For peer to peer transactions, a sell operation has to be made on source pocket and a buy operation has to be made on destination pocket\n\n **IMPORTANT:** Send Travel Rule data with POST /v2/blockchain-manager/travel-rule-order/{orderId} only when the withdrawal is in `pending-user-information`. See [Travel Rule](#tag/Funding/operation/provideTravelRuleInformationV2).",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "currency"
                ],
                "properties": {
                  "operation": {
                    "type": "string",
                    "description": "This property is not necessary for other operation types",
                    "enum": [
                      "purchase",
                      "withdrawal-trading",
                      "deposit-trading",
                      "social-payment",
                      "launchpad-purchase",
                      "buy",
                      "sell"
                    ]
                  },
                  "pair": {
                    "type": "string",
                    "pattern": "^[A-Z0-9]+/[A-Z0-9]+$"
                  },
                  "pocket": {
                    "$ref": "#/components/schemas/PocketIdParam"
                  },
                  "amount": {
                    "$ref": "#/components/schemas/AmountParam"
                  },
                  "currency": {
                    "$ref": "#/components/schemas/ExtendedCurrencyParam"
                  },
                  "type": {
                    "$ref": "#/components/schemas/TransactionSubsFeeTypeParam"
                  },
                  "concept": {
                    "$ref": "#/components/schemas/TransactionTextParam"
                  },
                  "note": {
                    "$ref": "#/components/schemas/TransactionTextParam"
                  },
                  "receiverName": {
                    "type": "string"
                  },
                  "origin": {
                    "type": "object",
                    "properties": {
                      "creditcard": {
                        "$ref": "#/components/schemas/CreditCardOriginParam"
                      }
                    },
                    "minProperties": 1,
                    "maxProperties": 1
                  },
                  "destination": {
                    "type": "object",
                    "properties": {
                      "address": {
                        "$ref": "#/components/schemas/AddressParam"
                      },
                      "pocket": {
                        "$ref": "#/components/schemas/PocketIdParam"
                      },
                      "bankAccount": {
                        "$ref": "#/components/schemas/BankAccountDestinationParam"
                      },
                      "email": {
                        "$ref": "#/components/schemas/EmailParam"
                      },
                      "phone": {
                        "$ref": "#/components/schemas/PhoneParam"
                      },
                      "alias": {
                        "$ref": "#/components/schemas/AliasParam"
                      },
                      "network": {
                        "$ref": "#/components/schemas/NetworkParam"
                      }
                    },
                    "minProperties": 1,
                    "maxProperties": 1
                  },
                  "userCurrency": {
                    "type": "string",
                    "default": "EUR",
                    "description": "The user's currency (used to show a rate from it to Euro)"
                  },
                  "queryParams": {
                    "type": "object",
                    "description": "Used for some cryptos that need extra parameters to do blockchain sendings. For example, memo in XRP."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "id",
                    "expirationTime",
                    "origin",
                    "destination"
                  ],
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/ProformaIdParam"
                    },
                    "expirationTime": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "origin": {
                      "$ref": "#/components/schemas/AmountCurrencyObject"
                    },
                    "destination": {
                      "$ref": "#/components/schemas/AmountCurrencyObject"
                    },
                    "fee": {
                      "$ref": "#/components/schemas/FeeParam"
                    },
                    "flip": {
                      "$ref": "#/components/schemas/RateParam"
                    },
                    "userRate": {
                      "$ref": "#/components/schemas/RateParam"
                    },
                    "userAmount": {
                      "$ref": "#/components/schemas/UserAmount"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "User does not have verified his email",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Pocket not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Type or/and currency not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "406": {
            "description": "Source and destination are the same",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "Source pocket does not have enough funds to perform the transaction (code: not-enough-funds)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "417": {
            "description": "Destination amount must be greater than zero or the volume is too low or too high to perform the operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "423": {
            "description": "Operation to perform is blocked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Js",
            "label": "Node",
            "source": "const axios = require('axios');\nconst crypto = require('crypto');\n\nconst API_KEY = 'YOUR_API_KEY';\nconst SECRET = 'YOUR_API_SECRET';\n\nconst NONCE = Date.now();\nconst PATH = '/v1/wallet/transaction/proforma';\nconst SERVER = 'https://gateway.bit2me.com';\n\nconst getAuthHeaders = (nonce, path, body) => {\n  const messageToSign = getClientMessageToSign(nonce, path, body);\n  const signature = getMessageSignature(messageToSign, SECRET);\n\n  return {\n    headers: {\n      'x-api-key': API_KEY,\n      'api-signature': signature,\n      'x-nonce': nonce\n    }\n  };\n};\n\nconst getClientMessageToSign = (nonce, url, body) => {\n  const hasBody = !!body && Object.keys(body).length > 0;\n\n  return hasBody\n    ? `${nonce}:${url}:${JSON.stringify(body)}`\n    : `${nonce}:${url}`;\n};\n\nconst getMessageSignature = (message, secret) => {\n  const hash = crypto.createHash('sha256');\n  const hmac = crypto.createHmac('sha512', secret);\n  const hashDigest = hash.update(message).digest('binary');\n  const hmacDigest = hmac.update(hashDigest, 'binary').digest('base64');\n\n  return hmacDigest;\n};\n\n// Body example for buy operation\nconst body = {\n    \"operation\": \"buy\",\n    \"pair\": \"BTC/EUR\",\n    \"amount\": \"100\",\n    \"currency\": \"EUR\"\n  };\n\n// Body example for sell operation\n// const body = {\n//    \"operation\": \"sell\",\n//    \"pair\": \"BTC/EUR\",\n//    \"amount\": \"0.0002\",\n//    \"currency\": \"BTC\"\n//  };\n\n// Body example for swap operation\n// const body = {\n//    \"pocket\": \"<UUID of a user crypto pocket>\",\n//    \"amount\": \"0.001\",\n//    \"currency\": \"BTC\",\n//    \"destination\": {\n//        \"pocket\": \"<UUID of a user crypto pocket>\"\n//    },\n//    \"type\": \"SEA\",\n//    \"userCurrency\": \"EUR\"\n//  };\n\n// Body example for withdraw operation\n// const body = {\n//    \"pocket\": \"<UUID of an EUR pocket>\",\n//    \"amount\": \"10\",\n//    \"currency\": \"EUR\",\n//    \"type\": \"SEA\",\n//    \"concept\": \"\",\n//    \"note\": \"\",\n//    \"destination\": {\n//      \"bankAccount\": {\n//          \"bankAccount\": \"<IBAN bank account>\",\n//          \"country\": \"ES\",\n//          \"receiverName\": \"Test\",\n//      }\n//    },\n//    \"userCurrency\": \"EUR\"\n//  };\n\nconst config = getAuthHeaders(NONCE, PATH, body);\naxios.post(`${SERVER}${PATH}`,body,config).then(response=>console.log(response.data));\n"
          },
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Subaccounts: Buy 100 EUR in BTC\ncurl -X POST /v1/wallet/transaction/proforma\n-H 'Content-type: application/json'\n-H 'X-API-KEY: <api key>'\n-H 'X-SUBACCOUNT-ID: <subaccount id>'\n-d '{\n    \"pocket\":\"<subaccount EUR pocket id>\",\n    \"destination\":{\"pocket\":\"<subaccount BTC pocket id>\"},\n    \"amount\":\"100\",\n    \"currency\":\"EUR\"\n  }'\n\n# Subaccounts: Sell 0.1 BTC\ncurl -X POST /v1/wallet/transaction/proforma\n-H 'Content-type: application/json'\n-H 'X-API-KEY: <api key>'\n-H 'X-SUBACCOUNT-ID: <subaccount id>'\n-d '{\n    \"pocket\":\"<subaccount BTC pocket id>\",\n    \"destination\":{\"pocket\":\"<subaccount EUR pocket id>\"},\n    \"amount\":\"0.1\",\n    \"currency\":\"BTC\"\n  }'\n\n# Subaccounts: Send cryptos to a network address\ncurl -X POST /v1/wallet/transaction/proforma\n-H 'Content-type: application/json'\n-H 'X-API-KEY: <api key>'\n-H 'X-SUBACCOUNT-ID: <subaccount id>'\n-d '{ \n      \"pocket\": \"<UUID of a user subaccount crypto pocket>\", \n      \"currency\": \"ETHTEST\",\n      \"amount\": \"0.005\",\n      \"type\": \"SEA\",\n      \"destination\": {\n          \"address\": \"<Network address>\",\n          \"network\": \"<Network name>\"\n      },\n      \"userCurrency\": \"EUR\" \n    }'\n\n# Examples with origin and destination pocket: Buy BTC with EUR\ncurl -X POST /v1/wallet/transaction/proforma\n-H 'Content-type: application/json'\n-H 'X-API-KEY: <api key>'\n-d '{\n      \"pocket\": \"<UUID of an EUR pocket>\", \n      \"destination\": { \"pocket\": \"<UUID of a BTC pocket>\" }, \n      \"amount\": \"100\", \n      \"currency\": \"EUR\" \n    }'\n\n\n# Examples with origin and destination pocket: Sell BTC for EUR\ncurl -X POST /v1/wallet/transaction/proforma\n-H 'Content-type: application/json'\n-H 'X-API-KEY: <api key>'\n-d '{ \n      \"pocket\": \"<UUID of a BTC pocket>\", \n      \"destination\": { \"pocket\": \"<UUID of an EUR pocket>\" }, \n      \"amount\": \"0.002\", \n      \"currency\": \"BTC\" \n    }'\n\n\n# Examples with operation and without pair: Purchase via card in wallet\ncurl -X POST /v1/wallet/transaction/proforma\n-H 'Content-type: application/json'\n-H 'X-API-KEY: <api key>'\n-d '{ \n      \"operation\": \"purchase\", \n      \"origin\": { \n        \"creditcard\": { \"cardId\": \"<UUID of a card>\" } \n      }, \n      \"destination\": { \"pocket\": \"<UUID of a BTC pocket>\" }, \n      \"amount\": \"100\", \n      \"currency\": \"EUR\" \n    }'\n\n\n# Examples with operation and without pair: Purchase via card in launchpad\ncurl -X POST /v1/wallet/transaction/proforma\n-H 'Content-type: application/json'\n-H 'X-API-KEY: <api key>'\n-d '{ \n      \"operation\": \"launchpad-purchase\", \n      \"origin\": { \n        \"creditcard\": { \"cardId\": \"<UUID of a card>\" } \n      }, \n      \"destination\": { \"launchpad\": \"<UUID of launchpad project>\" }, \n      \"amount\": \"100\", \n      \"currency\": \"EUR\" \n    }'\n\n\n# Examples with operation and without pair: Purchase via EUR pocket in launchpad\ncurl -X POST /v1/wallet/transaction/proforma\n-H 'Content-type: application/json'\n-H 'X-API-KEY: <api key>'\n-d '{ \n      \"operation\": \"launchpad-purchase\", \n      \"pocket\": \"<UUID of an EUR pocket>\", \n      \"destination\": { \"launchpad\": \"<UUID of launchpad project>\" }, \n      \"amount\": \"100\", \n      \"currency\": \"EUR\" \n    }'\n\n\n# Examples with operation and pair: Buy BTC with EUR\ncurl -X POST /v1/wallet/transaction/proforma\n-H 'Content-type: application/json'\n-H 'X-API-KEY: <api key>'\n-d '{ \n      \"operation\": \"buy\", \n      \"pair\": \"BTC/EUR\", \n      \"amount\": \"100\", \n      \"currency\": \"EUR\" \n    }'\n\n\n# Examples with operation and pair: Sell BTC for EUR\ncurl -X POST /v1/wallet/transaction/proforma\n-H 'Content-type: application/json'\n-H 'X-API-KEY: <api key>'\n-d '{ \n      \"operation\": \"sell\", \n      \"pair\": \"BTC/EUR\", \n      \"amount\": \"0.002\", \n      \"currency\": \"BTC\" \n    }'\n\n# Withdraw\n  curl -X POST /v1/wallet/transaction/proforma\n  -H 'Content-type: application/json'\n  -H 'X-API-KEY: <api key>'\n  -d '{\n        \"pocket\": \"<UUID of an EUR pocket>\",\n        \"amount\": \"10\",\n        \"currency\": \"EUR\",\n        \"type\": \"SEA\",\n        \"concept\": \"\",\n        \"note\": \"\",\n        \"destination\": {\n          \"bankAccount\": {\n              \"bankAccount\": \"<IBAN bank account>\",\n              \"country\": \"ES\",\n              \"receiverName\": \"Test\",\n          }\n        },\n        \"userCurrency\": \"EUR\"\n      }'\n\n# Withdraw (Brazil)\n  curl -X POST /v1/wallet/transaction/proforma\n  -H 'Content-type: application/json'\n  -H 'X-API-KEY: <api key>'\n  -d '{\n        \"pocket\": \"<UUID of an EUR pocket>\",\n        \"amount\": \"10\",\n        \"currency\": \"EUR\",\n        \"type\": \"SEA\",\n        \"concept\": \"\",\n        \"note\": \"\",\n        \"destination\": {\n          \"bankAccount\": {\n              \"bankAccount\": \"<IBAN bank account>\",\n              \"country\": \"BR\",\n              \"receiverName\": \"Test\",\n              \"bankBranch\": \"02\",\n              \"bankCode\": \"01\",\n              \"bankName\": \"Bank test\",\n              \"taxDocument\": \"<CPF-CNPS>\"\n          }\n        },\n        \"userCurrency\": \"EUR\"\n      }'\n      \n# Send cryptos to a network address\ncurl -X POST /v1/wallet/transaction/proforma\n-H 'Content-type: application/json'\n-H 'X-API-KEY: <api key>'\n-d '{ \n      \"pocket\": \"<UUID of a user crypto pocket>\", \n      \"currency\": \"ETHTEST\",\n      \"amount\": \"0.005\",\n      \"type\": \"SEA\",\n      \"destination\": {\n          \"address\": \"<Network address>\",\n          \"network\": \"<Network name>\"\n      },\n      \"userCurrency\": \"EUR\" \n    }'\n"
          }
        ]
      }
    },
    "/v1/wallet/transaction/{id}": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Get transaction details",
        "description": "Get the details of a transaction",
        "operationId": "getTransactionDetails",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The transaction id (returned by GET /v1/wallet/transaction, GET /v2/wallet/transaction, or GET /v3/wallet/transaction)",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
            }
          },
          {
            "name": "userCurrency",
            "in": "query",
            "description": "The user's currency (used to show a rate from it to Euro)",
            "schema": {
              "type": "string",
              "default": "EUR"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "date",
                    "type",
                    "origin",
                    "destination"
                  ],
                  "properties": {
                    "date": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When the transaction was created (ISO 8601)"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "deposit",
                        "withdrawal",
                        "transfer"
                      ],
                      "description": "Type of the transaction"
                    },
                    "concept": {
                      "type": "string",
                      "description": "The concept of the transaction"
                    },
                    "note": {
                      "type": "string",
                      "description": "Personal note of the user"
                    },
                    "origin": {
                      "type": "object",
                      "description": "Transaction origin",
                      "required": [
                        "currency",
                        "amount",
                        "class"
                      ],
                      "properties": {
                        "currency": {
                          "type": "string",
                          "description": "The origin currency"
                        },
                        "amount": {
                          "type": "string",
                          "description": "The total amount of \"money\" that is taken from origin."
                        },
                        "pocketName": {
                          "type": "string",
                          "description": "The origin pocket name"
                        },
                        "pocketId": {
                          "type": "string",
                          "description": "The origin pocket ID"
                        },
                        "class": {
                          "type": "string",
                          "enum": [
                            "pocket",
                            "network",
                            "b2m",
                            "card",
                            "bank transfer"
                          ],
                          "description": "Type of the origin:\n - pocket: origin is another pocket\n - network: origin is a cryptocurrency address\n - b2m: origin is another Bit2Me user\n - card: origin is a credit or debit card\n - bank transfer: origin is a bank transfer\n"
                        },
                        "rate": {
                          "$ref": "#/components/schemas/RateParam"
                        }
                      }
                    },
                    "destination": {
                      "type": "object",
                      "description": "Transaction destination",
                      "required": [
                        "currency",
                        "amount",
                        "class"
                      ],
                      "properties": {
                        "currency": {
                          "type": "string",
                          "description": "The currency of the destination"
                        },
                        "amount": {
                          "type": "string",
                          "description": "The total amount of \"money\" that the destination receives"
                        },
                        "pocketName": {
                          "type": "string",
                          "description": "The destination pocket name"
                        },
                        "pocketId": {
                          "type": "string",
                          "description": "The destination pocket ID"
                        },
                        "address": {
                          "type": "string",
                          "description": "The destination address"
                        },
                        "addressNetwork": {
                          "type": "string",
                          "description": "The destination address network"
                        },
                        "addressInBlacklist": {
                          "type": "boolean",
                          "description": "Indicates if destination address is in blacklist"
                        },
                        "class": {
                          "type": "string",
                          "enum": [
                            "pocket",
                            "network",
                            "b2m",
                            "bankAccount"
                          ],
                          "description": "Type of the destination:\n - pocket: destination is another pocket\n - network: destination is an cryptocurrency address\n - b2m: destination is another Bit2Me user\n - bankAccount: destination is a bank account\n"
                        },
                        "rate": {
                          "$ref": "#/components/schemas/RateParam"
                        }
                      }
                    },
                    "transaction": {
                      "type": "object",
                      "description": "Network transaction",
                      "required": [
                        "hash"
                      ],
                      "properties": {
                        "hash": {
                          "type": "string",
                          "description": "Network transaction hash"
                        },
                        "confirmedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "When the transaction was confirmed (ISO 8601)."
                        },
                        "confirmationCount": {
                          "type": "number",
                          "minimum": 0,
                          "description": "The number of confirmations the transaction has."
                        }
                      }
                    },
                    "fee": {
                      "type": "object",
                      "description": "Different fees for the transaction:\n  network: only present when type is \"withdrawal\"\n  flip: only present when the transaction has a currency convertion (instant)\n",
                      "properties": {
                        "network": {
                          "$ref": "#/components/schemas/AmountCurrencyObject"
                        },
                        "flip": {
                          "$ref": "#/components/schemas/FlipFeeParam"
                        },
                        "teller": {
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Teller orderId"
                            },
                            "feeCurrency": {
                              "type": "string",
                              "description": "Currency of the fees"
                            },
                            "fixedFee": {
                              "type": "string",
                              "description": "Fixed fee"
                            },
                            "variableFee": {
                              "type": "string",
                              "description": "Variable fee"
                            },
                            "variableFeePercentage": {
                              "type": "string",
                              "description": "Variable fee percentage"
                            }
                          }
                        }
                      }
                    },
                    "flip": {
                      "$ref": "#/components/schemas/RateParam"
                    },
                    "substractFeeType": {
                      "$ref": "#/components/schemas/TransactionSubsFeeTypeParam"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Wallet"
        ],
        "summary": "Update transaction",
        "operationId": "updateTransaction",
        "description": "Updates some data of the specified transaction",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The transaction id",
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "note"
                ],
                "properties": {
                  "note": {
                    "$ref": "#/components/schemas/TransactionTextParam"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/wallet/settings/assets": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Get assets settings",
        "description": "",
        "operationId": "getAssetsConfig",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "symbol",
                      "actions",
                      "limit"
                    ],
                    "properties": {
                      "symbol": {
                        "$ref": "#/components/schemas/CurrencyParam"
                      },
                      "actions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "deposit",
                            "withdraw",
                            "transfer",
                            "instant"
                          ]
                        }
                      },
                      "limit": {
                        "type": "object",
                        "required": [
                          "instant"
                        ],
                        "properties": {
                          "instant": {
                            "type": "object",
                            "required": [
                              "min",
                              "max"
                            ],
                            "properties": {
                              "min": {
                                "$ref": "#/components/schemas/AmountParam"
                              },
                              "max": {
                                "$ref": "#/components/schemas/AmountParam"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/earn/movements": {
      "post": {
        "tags": [
          "Earn"
        ],
        "summary": "Create earn deposit/withdrawal",
        "description": "Create a withdraw or deposit movement in Earn",
        "operationId": "createEarnMovement",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currency",
                  "amount",
                  "type"
                ],
                "properties": {
                  "currency": {
                    "$ref": "#/components/schemas/CurrencyParam"
                  },
                  "amount": {
                    "$ref": "#/components/schemas/AmountParam"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "deposit",
                      "withdrawal"
                    ]
                  },
                  "lockPeriod": {
                    "$ref": "#/components/schemas/IdParam"
                  },
                  "withholdingAmount": {
                    "$ref": "#/components/schemas/AmountParam"
                  },
                  "termsAndConditions": {
                    "type": "string",
                    "description": "The same terms & conditions uuid required by earn currency. Only required if currency configuration requires it for that movement type",
                    "$ref": "#/components/schemas/IdParam"
                  }
                }
              }
            }
          },
          "description": "The details to create the movement",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "walletMovementId",
                    "movementId"
                  ],
                  "properties": {
                    "walletMovementId": {
                      "type": "string",
                      "format": "uuid",
                      "example": "70b89183-c7fa-4460-91ce-34d53d739868"
                    },
                    "movementId": {
                      "type": "string",
                      "format": "uuid",
                      "example": "70b89183-c7fa-4460-91ce-34d53d739868"
                    }
                  }
                }
              }
            }
          },
          "412": {
            "description": "Not enough funds, user not elegible for earn or invalid currency",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "417": {
            "description": "Amount must be greater than 0",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Create deposit for subaccount\ncurl -X POST ${SERVER_URL}/v1/earn/movements\n  -H 'Content-type: application/json'\n  -H 'X-API-KEY: <api key>'\n  -H 'X-SUBACCOUNT-ID: <subaccount id>'\n  -d '\n    {\n      \"currency\":\"BTC\",\n      \"amount\":\"1\",\n      \"type\":\"deposit\"\n    }'\n"
          }
        ]
      }
    },
    "/v2/earn/wallets": {
      "get": {
        "tags": [
          "Earn"
        ],
        "summary": "List earn wallets",
        "description": "Get a list of earn wallets",
        "operationId": "getEarnWallets",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "userCurrency",
            "required": false,
            "description": "Currency to show convertedBalance",
            "schema": {
              "$ref": "#/components/schemas/CurrencyParam",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "required": false,
            "description": "Sorting field",
            "schema": {
              "type": "string",
              "enum": [
                "currency",
                "balance"
              ]
            }
          },
          {
            "in": "query",
            "name": "sortDirection",
            "required": false,
            "description": "Sorting direction",
            "schema": {
              "type": "string",
              "enum": [
                "ascending",
                "descending"
              ]
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EarnWalletResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/earn/wallets/{walletId}": {
      "get": {
        "tags": [
          "Earn"
        ],
        "summary": "Get earn wallet by id",
        "description": "Retrieves full information of selected wallet",
        "operationId": "getEarnWalletById",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "walletId",
            "required": true,
            "description": "Wallet identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "userCurrency",
            "required": false,
            "description": "Currency to show convertedBalance",
            "schema": {
              "$ref": "#/components/schemas/CurrencyParam",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EarnWalletResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/earn/wallets/{walletId}/movements": {
      "get": {
        "tags": [
          "Earn"
        ],
        "summary": "List earn wallet movements",
        "description": "Retrieves list of wallet movements.\n\n Movements can be paginated using **offset** and **limit** parameters. For example, to get the third page and show 20 registers per page you would use the following query:\n ```\n /v1/earn/wallets/{walletId}/movements?offset=40&limit=20\n ```",
        "operationId": "getEarnWalletMovements",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "walletId",
            "required": true,
            "description": "Wallet identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "userCurrency",
            "required": false,
            "description": "Currency to show convertedAmount",
            "schema": {
              "$ref": "#/components/schemas/CurrencyParam",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "description": "Specify the number of entries to be skipped (0 by default)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Specify the maximum number of entries to be returned (20 by default)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "required": false,
            "description": "Sorting field",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt"
              ]
            }
          },
          {
            "in": "query",
            "name": "sortDirection",
            "required": false,
            "description": "Sorting direction",
            "schema": {
              "type": "string",
              "enum": [
                "ascending",
                "descending"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EarnMovementResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/earn/summary": {
      "get": {
        "tags": [
          "Earn"
        ],
        "summary": "Get user summary",
        "description": "Retrieves user summary",
        "operationId": "getEarnUserSummary",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "userCurrency",
            "required": false,
            "description": "Currency to show balance",
            "schema": {
              "$ref": "#/components/schemas/CurrencyParam",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EarnUserSummaryResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/earn/movements/{type}/summary": {
      "get": {
        "tags": [
          "Earn"
        ],
        "summary": "Get summary by operation",
        "description": "Retrieves summary of movements per operation (deposit, reward, withdrawal)",
        "operationId": "getEarnMovementsSummaryByType",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "userCurrency",
            "required": false,
            "description": "Currency to show balance",
            "schema": {
              "$ref": "#/components/schemas/CurrencyParam",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "type",
            "required": true,
            "description": "Operation type",
            "schema": {
              "type": "string",
              "enum": [
                "deposit",
                "reward",
                "withdrawal"
              ]
            }
          },
          {
            "in": "query",
            "name": "rateMoment",
            "required": true,
            "description": "Rate moment",
            "schema": {
              "type": "string",
              "enum": [
                "creation",
                "current"
              ],
              "default": "current"
            }
          },
          {
            "in": "query",
            "name": "order",
            "required": true,
            "description": "Sorting direction",
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EarnMovementsSummaryByTypeResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earn/assets": {
      "get": {
        "tags": [
          "Earn"
        ],
        "summary": "List supported assets",
        "description": "Retrieves full list of supported assets in earn service",
        "operationId": "getEarnAssetsV2",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "required": false,
            "description": "Asset type",
            "schema": {
              "type": "string",
              "enum": [
                "partner",
                "farming-pool"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns info of currencies found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetsInfoResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earn/apy": {
      "get": {
        "tags": [
          "Earn"
        ],
        "operationId": "getApysEffectivesV2",
        "summary": "Get annual percentage yields by currency",
        "description": "Get current annual percentage yields by currency. Value of currency is an object wich reward type as a key and annual percentage yield as value",
        "responses": {
          "200": {
            "description": "Returns the annual percentage yields found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": ""
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/earn/wallets/rewards/config": {
      "get": {
        "tags": [
          "Earn"
        ],
        "summary": "List wallets rewards config",
        "description": "Retrieves rewards configuration for user wallets",
        "operationId": "getUserWalletsRewards",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Return rewards settings for user wallets"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/earn/wallets/{walletId}/rewards/config": {
      "get": {
        "tags": [
          "Earn"
        ],
        "summary": "Get wallet rewards config",
        "description": "Retrieves rewards configuration for selected wallet",
        "operationId": "getWalletRewards",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "walletId",
            "required": true,
            "description": "Wallet identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return reward settings by wallet"
          },
          "401": {
            "description": "Unauthorized"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Earn"
        ],
        "summary": "Update wallet rewards config",
        "description": "Update wallet reward configuration for selected wallet",
        "operationId": "updateWalletRewardCurrency",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "walletId",
            "required": true,
            "description": "Wallet identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "rewardCurrency"
                ],
                "properties": {
                  "rewardCurrency": {
                    "type": "string",
                    "description": "Currency to obtain the reward"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the result of operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Wallet not found"
          },
          "406": {
            "description": "Reward currency is not allowed"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/earn/wallets/{walletId}/rewards/summary": {
      "get": {
        "tags": [
          "Earn"
        ],
        "summary": "Get wallet rewards summary",
        "description": "Retrieves full list of rewards summary for selected wallet",
        "operationId": "getWalletRewardsSummary",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "walletId",
            "required": true,
            "description": "Wallet identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "userCurrency",
            "required": false,
            "description": "Currency to show balance",
            "schema": {
              "$ref": "#/components/schemas/CurrencyParam",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet's rewards summary"
          },
          "404": {
            "description": "Wallet not found"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/update": {
      "put": {
        "tags": [
          "Account"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Update account",
        "description": "Update info for an account",
        "operationId": "updateAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "alias": {
                    "$ref": "#/components/schemas/AliasParam"
                  },
                  "person": {
                    "$ref": "#/components/schemas/PersonParam"
                  },
                  "profile": {
                    "type": "object",
                    "properties": {
                      "langCode": {
                        "$ref": "#/components/schemas/LangISO639-1Param"
                      },
                      "currencyCode": {
                        "$ref": "#/components/schemas/CurrencyISO4217Param"
                      },
                      "timeZone": {
                        "$ref": "#/components/schemas/TimeZoneIanaParam"
                      }
                    }
                  },
                  "address": {
                    "$ref": "#/components/schemas/UserAddressParam"
                  },
                  "depositEstimation": {
                    "$ref": "#/components/schemas/DepositEstimationParam"
                  },
                  "selfInvoiceIdentityNumber": {
                    "$ref": "#/components/schemas/selfInvoiceIdentityNumberParam"
                  },
                  "fundsOrigin": {
                    "$ref": "#/components/schemas/FundsOrigin"
                  },
                  "type": {
                    "$ref": "#/components/schemas/UserTypeParam"
                  },
                  "company": {
                    "$ref": "#/components/schemas/CompanyParam"
                  },
                  "so": {
                    "type": "string"
                  },
                  "version": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "description": "The account details to be updated",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "409": {
            "description": "Duplicated key (tin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "A field cannot be updated due to the current verification level or because it already has value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "# Update subaccount\ncurl -X PUT ${SERVER_URL}/v1/account/update\n  -H 'Content-type: application/json'\n  -H 'X-API-KEY: <api key>'\n  -H 'X-SUBACCOUNT-ID: <subaccount id>'\n  -d '{\n      \"person\": {\n        \"name\": <String>,\n        \"surname\": <String>,\n        \"birthDate\": \"YYYY-MM-DD\",\n        \"nationalityCountryCode\": <CountryISO3166-1Alpha2>,\n      },\n      \"profile\": {\n        \"langCode\": <LangISO639-1>,\n        \"currencyCode\": <CurrencyISO4217>,\n        \"timeZone\": <String>\n      }\n    }'\n"
          }
        ]
      }
    },
    "/v3/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Get account details",
        "description": "Get account details, personal data is returned masked",
        "operationId": "getAccountDetails",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "email"
                  ],
                  "properties": {
                    "id": {
[...]
