{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0.0",
    "title": "Pro (Trading Spot) REST API"
  },
  "servers": [
    {
      "url": "https://gateway.bit2me.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "MarketData",
      "description": "",
      "x-displayName": "Market Data"
    },
    {
      "name": "Trading",
      "description": ""
    },
    {
      "name": "Funding",
      "description": ""
    },
    {
      "name": "WsAuth",
      "description": "",
      "x-displayName": "WebSockets Authentication"
    }
  ],
  "paths": {
    "/v1/trading/market-config": {
      "get": {
        "summary": "Get markets",
        "description": "Get a list of markets (quantity and price precisions, order minimums and maximums, status).",
        "externalDocs": {
          "url": "https://github.com/bit2me-devs/trading-spot-samples/tree/main/node/rest/market-data/get-markets",
          "description": "See code sample"
        },
        "tags": [
          "MarketData"
        ],
        "parameters": [
          {
            "name": "symbol",
            "description": "The market symbol to filter (optional, by default returns all markets)",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/MarketSymbolParam"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of markets config",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketConfigResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -sS \"https://gateway.bit2me.com/v1/trading/market-config\" \\\n  -H \"Content-Type: application/json\""
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Official samples: https://github.com/bit2me-devs/trading-spot-samples\n// Get markets\nconst SERVER = 'https://gateway.bit2me.com';\nconst PATH = '/v1/trading/market-config';\n// Sign PATH with HMAC as in node/auth, then:\n// axios.get(SERVER + PATH, { headers: { 'x-api-key', 'api-signature', 'x-nonce' } });\n// https://github.com/bit2me-devs/trading-spot-samples/tree/main/node/rest/market-data/get-markets"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Get markets\n# HMAC: sha256(nonce:path[:json]) then hmac-sha512, base64\n# See guides/authentication.mdx\nimport os\nPATH = \"/v1/trading/market-config\"\nSERVER = \"https://gateway.bit2me.com\"\n"
          }
        ]
      }
    },
    "/v1/trading/candle": {
      "get": {
        "summary": "Get OHLCV",
        "description": "Get OHLCV (open, highest, lowest, close, volume) information. The last entry in the OHLCV array is for the current.\n",
        "externalDocs": {
          "url": "https://github.com/bit2me-devs/trading-spot-samples/blob/main/node/rest/market-data/get-ohlcv",
          "description": "See code sample"
        },
        "tags": [
          "MarketData"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "symbol",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MarketSymbolParam"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OHLCVIntervalParam"
            },
            "required": true
          },
          {
            "name": "startTime",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/UnixEpochFilterParam"
            },
            "required": true
          },
          {
            "name": "endTime",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/UnixEpochFilterParam"
            },
            "required": true
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number",
              "maximum": 1000
            },
            "required": true,
            "description": "The limit of `interval` entries (with an `interval` of 15 minutes and `limit` 4 the response is the last hour with 4 entries)",
            "example": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "OHLCV at interval for time range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandleResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market symbol not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -sS \"https://gateway.bit2me.com/v1/trading/candle\" \\\n  -H \"Content-Type: application/json\""
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Official samples: https://github.com/bit2me-devs/trading-spot-samples\n// Get OHLCV\nconst SERVER = 'https://gateway.bit2me.com';\nconst PATH = '/v1/trading/candle';\n// Sign PATH with HMAC as in node/auth, then:\n// axios.get(SERVER + PATH, { headers: { 'x-api-key', 'api-signature', 'x-nonce' } });\n// https://github.com/bit2me-devs/trading-spot-samples/blob/main/node/rest/market-data/get-ohlcv"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Get OHLCV\n# HMAC: sha256(nonce:path[:json]) then hmac-sha512, base64\n# See guides/authentication.mdx\nimport os\nPATH = \"/v1/trading/candle\"\nSERVER = \"https://gateway.bit2me.com\"\n"
          }
        ]
      }
    },
    "/v2/trading/order-book": {
      "get": {
        "summary": "Get order book",
        "description": "Get the order book associated to the market symbol.",
        "externalDocs": {
          "url": "https://github.com/bit2me-devs/trading-spot-samples/blob/main/node/rest/market-data/get-order-book",
          "description": "See code sample"
        },
        "tags": [
          "MarketData"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/MarketSymbolParam"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Market order book",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderBookResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market symbol not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -sS \"https://gateway.bit2me.com/v2/trading/order-book\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"x-api-key: $BIT2ME_API_KEY\" \\\n  -H \"api-signature: $BIT2ME_SIGNATURE\" \\\n  -H \"x-nonce: $BIT2ME_NONCE\""
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Official samples: https://github.com/bit2me-devs/trading-spot-samples\n// Get order book\nconst SERVER = 'https://gateway.bit2me.com';\nconst PATH = '/v2/trading/order-book';\n// Sign PATH with HMAC as in node/auth, then:\n// axios.get(SERVER + PATH, { headers: { 'x-api-key', 'api-signature', 'x-nonce' } });\n// https://github.com/bit2me-devs/trading-spot-samples/blob/main/node/rest/market-data/get-order-book"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Get order book\n# HMAC: sha256(nonce:path[:json]) then hmac-sha512, base64\n# See guides/authentication.mdx\nimport os\nPATH = \"/v2/trading/order-book\"\nSERVER = \"https://gateway.bit2me.com\"\n"
          }
        ]
      }
    },
    "/v2/trading/tickers": {
      "get": {
        "summary": "Get ticker information",
        "description": "Get ticker information (OHLCV, current best bid and ask, percentage versus price 24 hours ago) for all markets or by requested market symbol. The data refers to the last 24 hours from the date indicated by the timestamp.\n",
        "externalDocs": {
          "url": "https://github.com/bit2me-devs/trading-spot-samples/tree/main/node/rest/market-data/get-ticker-information",
          "description": "See code sample"
        },
        "tags": [
          "MarketData"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/MarketSymbolParam"
            },
            "description": "Market symbol (optional, default all markets)"
          }
        ],
        "responses": {
          "200": {
            "description": "Ticker information list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TickersResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market symbol not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -sS \"https://gateway.bit2me.com/v2/trading/tickers\" \\\n  -H \"Content-Type: application/json\""
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Official samples: https://github.com/bit2me-devs/trading-spot-samples\n// Get ticker information\nconst SERVER = 'https://gateway.bit2me.com';\nconst PATH = '/v2/trading/tickers';\n// Sign PATH with HMAC as in node/auth, then:\n// axios.get(SERVER + PATH, { headers: { 'x-api-key', 'api-signature', 'x-nonce' } });\n// https://github.com/bit2me-devs/trading-spot-samples/tree/main/node/rest/market-data/get-ticker-information"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Get ticker information\n# HMAC: sha256(nonce:path[:json]) then hmac-sha512, base64\n# See guides/authentication.mdx\nimport os\nPATH = \"/v2/trading/tickers\"\nSERVER = \"https://gateway.bit2me.com\"\n"
          }
        ]
      }
    },
    "/v1/trading/trade/last": {
      "get": {
        "summary": "Get last trades",
        "description": "Get a list of last trades. Returns the last 50 trades by default.",
        "externalDocs": {
          "url": "https://github.com/bit2me-devs/trading-spot-samples/tree/main/node/rest/market-data/get-last-trades",
          "description": "See code sample"
        },
        "tags": [
          "MarketData"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/MarketSymbolParam"
            },
            "required": true
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number",
              "maximum": 50,
              "default": 50
            },
            "required": false,
            "description": "The number of trades to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of last trades",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LastTradeResponse"
                }
              }
            }
          },
          "404": {
            "description": "Market symbol not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -sS \"https://gateway.bit2me.com/v1/trading/trade/last\" \\\n  -H \"Content-Type: application/json\""
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Official samples: https://github.com/bit2me-devs/trading-spot-samples\n// Get last trades\nconst SERVER = 'https://gateway.bit2me.com';\nconst PATH = '/v1/trading/trade/last';\n// Sign PATH with HMAC as in node/auth, then:\n// axios.get(SERVER + PATH, { headers: { 'x-api-key', 'api-signature', 'x-nonce' } });\n// https://github.com/bit2me-devs/trading-spot-samples/tree/main/node/rest/market-data/get-last-trades"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Get last trades\n# HMAC: sha256(nonce:path[:json]) then hmac-sha512, base64\n# See guides/authentication.mdx\nimport os\nPATH = \"/v1/trading/trade/last\"\nSERVER = \"https://gateway.bit2me.com\"\n"
          }
        ]
      }
    },
    "/v1/trading/order": {
      "post": {
        "summary": "Add order",
        "description": "Place a new order.\n> See the [GET markets endpoint](#tag/MarketData/paths/~1v1~1trading~1market-config/get) for details on the available trading assets, their price and quantity precisions,\norder minimums, etc.\n",
        "externalDocs": {
          "url": "https://github.com/bit2me-devs/trading-spot-samples/tree/main/node/rest/trading/add-order",
          "description": "See code sample"
        },
        "tags": [
          "Trading"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid market symbol, side or order type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "Price or amount values invalid for minimum and maximum market configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -sS -X POST \"https://gateway.bit2me.com/v1/trading/order\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"x-api-key: $BIT2ME_API_KEY\" \\\n  -H \"api-signature: $BIT2ME_SIGNATURE\" \\\n  -H \"x-nonce: $BIT2ME_NONCE\" \\\n  -d '{\"side\":\"buy\",\"symbol\":\"BTC/EUR\",\"amount\":\"0.35\",\"orderType\":\"limit\",\"price\":\"65000.5\"}' "
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Official samples: https://github.com/bit2me-devs/trading-spot-samples\n// Add order\nconst SERVER = 'https://gateway.bit2me.com';\nconst PATH = '/v1/trading/order';\n// Sign PATH with HMAC as in node/auth, then:\n// axios.post(SERVER + PATH, { headers: { 'x-api-key', 'api-signature', 'x-nonce' } });\n// https://github.com/bit2me-devs/trading-spot-samples/tree/main/node/rest/trading/add-order"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Add order\n# HMAC: sha256(nonce:path[:json]) then hmac-sha512, base64\n# See guides/authentication.mdx\nimport os\nPATH = \"/v1/trading/order\"\nSERVER = \"https://gateway.bit2me.com\"\n"
          }
        ]
      },
      "get": {
        "summary": "Get orders",
        "description": "Get all user orders paged with a maximum page size of 100. The result can be filtered by dates, list of statuses,\nside and market symbol optionally.\n",
        "externalDocs": {
          "url": "https://github.com/bit2me-devs/trading-spot-samples/tree/main/node/rest/trading/get-orders",
          "description": "See code sample"
        },
        "tags": [
          "Trading"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "description": "Comma separated order identifiers",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ISODateTimeParam"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ISODateTimeParam"
            }
          },
          {
            "name": "side",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OrderSideParam"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/MarketSymbolParam"
            }
          },
          {
            "name": "orderType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OrderTypeParam"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OrderStatusParam"
            }
          },
          {
            "name": "status_ne",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma separated NOT EQUAL order statuses",
            "example": "open,filled"
          },
          {
            "name": "status_in",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma separated IN order statuses",
            "example": "open,filled"
          },
          {
            "name": "status_ni",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma separated NOT IN order statuses",
            "example": "open,filled"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number",
              "maximum": 100,
              "default": 100
            },
            "description": "The maximum number of orders retrieved"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OffsetParam"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort",
            "example": "symbol"
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SortDirectionParam"
            }
          },
          {
            "name": "clientOrderId",
            "in": "query",
            "required": false,
            "description": "Comma separated client order identifiers",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of user orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderResponse"
                  },
                  "example": {
                    "$ref": "#/components/examples/FilledOrdersResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -sS \"https://gateway.bit2me.com/v1/trading/order\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"x-api-key: $BIT2ME_API_KEY\" \\\n  -H \"api-signature: $BIT2ME_SIGNATURE\" \\\n  -H \"x-nonce: $BIT2ME_NONCE\""
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Official samples: https://github.com/bit2me-devs/trading-spot-samples\n// Get orders\nconst SERVER = 'https://gateway.bit2me.com';\nconst PATH = '/v1/trading/order';\n// Sign PATH with HMAC as in node/auth, then:\n// axios.get(SERVER + PATH, { headers: { 'x-api-key', 'api-signature', 'x-nonce' } });\n// https://github.com/bit2me-devs/trading-spot-samples/tree/main/node/rest/trading/get-orders"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Get orders\n# HMAC: sha256(nonce:path[:json]) then hmac-sha512, base64\n# See guides/authentication.mdx\nimport os\nPATH = \"/v1/trading/order\"\nSERVER = \"https://gateway.bit2me.com\"\n"
          }
        ]
      }
    },
    "/v1/trading/order/{id}": {
      "get": {
        "summary": "Get order",
        "description": "Get order details by order identifier.",
        "tags": [
          "Trading"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "$ref": "#/components/schemas/OrderIdentifierParam"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                },
                "example": {
                  "$ref": "#/components/examples/FilledOrdersResponse/0"
                }
              }
            }
          },
          "403": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -sS \"https://gateway.bit2me.com/v1/trading/order/{id}\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"x-api-key: $BIT2ME_API_KEY\" \\\n  -H \"api-signature: $BIT2ME_SIGNATURE\" \\\n  -H \"x-nonce: $BIT2ME_NONCE\""
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Official samples: https://github.com/bit2me-devs/trading-spot-samples\n// Get order\nconst SERVER = 'https://gateway.bit2me.com';\nconst PATH = '/v1/trading/order/{id}';\n// Sign PATH with HMAC as in node/auth, then:\n// axios.get(SERVER + PATH, { headers: { 'x-api-key', 'api-signature', 'x-nonce' } });"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Get order\n# HMAC: sha256(nonce:path[:json]) then hmac-sha512, base64\n# See guides/authentication.mdx\nimport os\nPATH = \"/v1/trading/order/{id}\"\nSERVER = \"https://gateway.bit2me.com\"\n"
          }
        ]
      },
      "delete": {
        "summary": "Cancel order",
        "description": "Cancel the order by identifier if this order is open or inactive.",
        "tags": [
          "Trading"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "$ref": "#/components/schemas/OrderIdentifierParam"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                },
                "example": {
                  "$ref": "#/components/examples/CancelOrdersResponse/0"
                }
              }
            }
          },
          "403": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -sS -X DELETE \"https://gateway.bit2me.com/v1/trading/order/{id}\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"x-api-key: $BIT2ME_API_KEY\" \\\n  -H \"api-signature: $BIT2ME_SIGNATURE\" \\\n  -H \"x-nonce: $BIT2ME_NONCE\""
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Official samples: https://github.com/bit2me-devs/trading-spot-samples\n// Cancel order\nconst SERVER = 'https://gateway.bit2me.com';\nconst PATH = '/v1/trading/order/{id}';\n// Sign PATH with HMAC as in node/auth, then:\n// axios.delete(SERVER + PATH, { headers: { 'x-api-key', 'api-signature', 'x-nonce' } });"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Cancel order\n# HMAC: sha256(nonce:path[:json]) then hmac-sha512, base64\n# See guides/authentication.mdx\nimport os\nPATH = \"/v1/trading/order/{id}\"\nSERVER = \"https://gateway.bit2me.com\"\n"
          }
        ]
      }
    },
    "/v1/trading/order/{id}/trades": {
      "get": {
        "summary": "Get order trades",
        "description": "Get all trades associated to the order.",
        "tags": [
          "Trading"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "$ref": "#/components/schemas/OrderIdentifierParam"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A list of trades",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TradeResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -sS \"https://gateway.bit2me.com/v1/trading/order/{id}/trades\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"x-api-key: $BIT2ME_API_KEY\" \\\n  -H \"api-signature: $BIT2ME_SIGNATURE\" \\\n  -H \"x-nonce: $BIT2ME_NONCE\""
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Official samples: https://github.com/bit2me-devs/trading-spot-samples\n// Get order trades\nconst SERVER = 'https://gateway.bit2me.com';\nconst PATH = '/v1/trading/order/{id}/trades';\n// Sign PATH with HMAC as in node/auth, then:\n// axios.get(SERVER + PATH, { headers: { 'x-api-key', 'api-signature', 'x-nonce' } });"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Get order trades\n# HMAC: sha256(nonce:path[:json]) then hmac-sha512, base64\n# See guides/authentication.mdx\nimport os\nPATH = \"/v1/trading/order/{id}/trades\"\nSERVER = \"https://gateway.bit2me.com\"\n"
          }
        ]
      }
    },
    "/v1/trading/trade": {
      "get": {
        "summary": "Get trades",
        "description": "Get all user trades paged with a maximum page size of 50.\nThe result can be filtered by dates and side optionally.\n",
        "externalDocs": {
          "url": "https://github.com/bit2me-devs/trading-spot-samples/tree/main/node/rest/trading/get-trades",
          "description": "See code sample"
        },
        "tags": [
          "Trading"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "description": "Comma separated trade identifiers",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/MarketSymbolParam"
            },
            "required": false
          },
          {
            "name": "side",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OrderSideParam"
            }
          },
          {
            "name": "orderType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OrderTypeParam"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number",
              "maximum": 50,
              "default": 50
            },
            "description": "The maximum number of trades to fetch"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OffsetParam"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ISODateTimeParam"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ISODateTimeParam"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The field to sort"
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SortDirectionParam"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of user trades",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "count": {
                      "type": "number",
                      "example": 1
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TradeResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -sS \"https://gateway.bit2me.com/v1/trading/trade\" \\\n  -H \"Content-Type: application/json\""
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Official samples: https://github.com/bit2me-devs/trading-spot-samples\n// Get trades\nconst SERVER = 'https://gateway.bit2me.com';\nconst PATH = '/v1/trading/trade';\n// Sign PATH with HMAC as in node/auth, then:\n// axios.get(SERVER + PATH, { headers: { 'x-api-key', 'api-signature', 'x-nonce' } });\n// https://github.com/bit2me-devs/trading-spot-samples/tree/main/node/rest/trading/get-trades"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Get trades\n# HMAC: sha256(nonce:path[:json]) then hmac-sha512, base64\n# See guides/authentication.mdx\nimport os\nPATH = \"/v1/trading/trade\"\nSERVER = \"https://gateway.bit2me.com\"\n"
          }
        ]
      }
    },
    "/v1/trading/wallet/balance": {
      "get": {
        "summary": "Get account balance",
        "description": "Retrieve balances of all wallets and blocked balances in active orders.",
        "externalDocs": {
          "url": "https://github.com/bit2me-devs/trading-spot-samples/tree/main/node/rest/funding/get-balance",
          "description": "See code sample"
        },
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "description": "Comma separated symbols of the wallets that you want to retrieve",
            "schema": {
              "type": "string",
              "example": "BTC,EUR"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WalletResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -sS \"https://gateway.bit2me.com/v1/trading/wallet/balance\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"x-api-key: $BIT2ME_API_KEY\" \\\n  -H \"api-signature: $BIT2ME_SIGNATURE\" \\\n  -H \"x-nonce: $BIT2ME_NONCE\""
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Official samples: https://github.com/bit2me-devs/trading-spot-samples\n// Get account balance\nconst SERVER = 'https://gateway.bit2me.com';\nconst PATH = '/v1/trading/wallet/balance';\n// Sign PATH with HMAC as in node/auth, then:\n// axios.get(SERVER + PATH, { headers: { 'x-api-key', 'api-signature', 'x-nonce' } });\n// https://github.com/bit2me-devs/trading-spot-samples/tree/main/node/rest/funding/get-balance"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Get account balance\n# HMAC: sha256(nonce:path[:json]) then hmac-sha512, base64\n# See guides/authentication.mdx\nimport os\nPATH = \"/v1/trading/wallet/balance\"\nSERVER = \"https://gateway.bit2me.com\"\n"
          }
        ]
      }
    },
    "/v1/trading/working-capital": {
      "get": {
        "summary": "Get working capital limits",
        "description": "Retrieve configured working capital limits and daily usage for the authenticated user.",
        "externalDocs": {
          "url": "https://github.com/bit2me-devs/trading-spot-samples/tree/main/node/rest/funding/get-working-capital",
          "description": "See code sample"
        },
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "description": "Comma separated symbols of the working capital limits that you want to retrieve",
            "schema": {
              "type": "string",
              "example": "BTC,EUR"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkingCapitalLimitResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -sS \"https://gateway.bit2me.com/v1/trading/working-capital\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"x-api-key: $BIT2ME_API_KEY\" \\\n  -H \"api-signature: $BIT2ME_SIGNATURE\" \\\n  -H \"x-nonce: $BIT2ME_NONCE\""
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Official samples: https://github.com/bit2me-devs/trading-spot-samples\n// Get working capital limits\nconst SERVER = 'https://gateway.bit2me.com';\nconst PATH = '/v1/trading/working-capital';\n// Sign PATH with HMAC as in node/auth, then:\n// axios.get(SERVER + PATH, { headers: { 'x-api-key', 'api-signature', 'x-nonce' } });\n// https://github.com/bit2me-devs/trading-spot-samples/tree/main/node/rest/funding/get-working-capital"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Get working capital limits\n# HMAC: sha256(nonce:path[:json]) then hmac-sha512, base64\n# See guides/authentication.mdx\nimport os\nPATH = \"/v1/trading/working-capital\"\nSERVER = \"https://gateway.bit2me.com\"\n"
          }
        ]
      }
    },
    "/v1/trading/wallet/deposit": {
      "post": {
        "summary": "Request deposit",
        "description": "Request deposit funds into your Pro account from a Bit2Me Wallet.",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fromPocketId",
                  "amount",
                  "currency"
                ],
                "properties": {
                  "fromPocketId": {
                    "$ref": "#/components/schemas/PocketIdentifierParam"
                  },
                  "amount": {
                    "$ref": "#/components/schemas/AmountParam"
                  },
                  "currency": {
                    "$ref": "#/components/schemas/CurrencyParam"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponse"
                }
              }
            }
          },
          "403": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -sS -X POST \"https://gateway.bit2me.com/v1/trading/wallet/deposit\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"x-api-key: $BIT2ME_API_KEY\" \\\n  -H \"api-signature: $BIT2ME_SIGNATURE\" \\\n  -H \"x-nonce: $BIT2ME_NONCE\" \\\n  -d '{\"fromPocketId\":\"<pocket-uuid>\",\"amount\":\"10\",\"currency\":\"EUR\"}' "
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Official samples: https://github.com/bit2me-devs/trading-spot-samples\n// Request deposit\nconst SERVER = 'https://gateway.bit2me.com';\nconst PATH = '/v1/trading/wallet/deposit';\n// Sign PATH with HMAC as in node/auth, then:\n// axios.post(SERVER + PATH, { headers: { 'x-api-key', 'api-signature', 'x-nonce' } });"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Request deposit\n# HMAC: sha256(nonce:path[:json]) then hmac-sha512, base64\n# See guides/authentication.mdx\nimport os\nPATH = \"/v1/trading/wallet/deposit\"\nSERVER = \"https://gateway.bit2me.com\"\n"
          }
        ]
      }
    },
    "/v1/trading/wallet/withdraw": {
      "post": {
        "summary": "Request withdraw",
        "description": "Request withdraw funds into your Bit2Me wallet from Pro account.",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "currency"
                ],
                "properties": {
                  "toPocketId": {
                    "$ref": "#/components/schemas/PocketIdentifierParam"
                  },
                  "amount": {
                    "$ref": "#/components/schemas/AmountParam"
                  },
                  "currency": {
                    "$ref": "#/components/schemas/CurrencyParam"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponse"
                }
              }
            }
          },
          "403": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -sS -X POST \"https://gateway.bit2me.com/v1/trading/wallet/withdraw\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"x-api-key: $BIT2ME_API_KEY\" \\\n  -H \"api-signature: $BIT2ME_SIGNATURE\" \\\n  -H \"x-nonce: $BIT2ME_NONCE\" \\\n  -d '{\"amount\":\"10\",\"currency\":\"EUR\",\"toPocketId\":\"<pocket-uuid>\"}' "
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Official samples: https://github.com/bit2me-devs/trading-spot-samples\n// Request withdraw\nconst SERVER = 'https://gateway.bit2me.com';\nconst PATH = '/v1/trading/wallet/withdraw';\n// Sign PATH with HMAC as in node/auth, then:\n// axios.post(SERVER + PATH, { headers: { 'x-api-key', 'api-signature', 'x-nonce' } });"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Request withdraw\n# HMAC: sha256(nonce:path[:json]) then hmac-sha512, base64\n# See guides/authentication.mdx\nimport os\nPATH = \"/v1/trading/wallet/withdraw\"\nSERVER = \"https://gateway.bit2me.com\"\n"
          }
        ]
      }
    },
    "/v1/trading/movement": {
      "get": {
        "summary": "Get funding movements",
        "description": "Get funding movements",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "walletId",
            "in": "query",
            "description": "Wallet id",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Currency",
            "x-example": "BTC",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "The initial date with time",
            "x-example": "2025-01-01T01:00:000Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "The end date with time",
            "x-example": "2025-01-01T01:00:000Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "serviceOrderName",
            "in": "query",
            "description": "Service order name (issuer)",
            "x-example": "wallet",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "movementType",
            "in": "query",
            "description": "Movement type",
            "x-example": "deposit",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "The maximum number of movements returned",
            "schema": {
              "type": "number",
              "maximum": 100,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MovementResponse"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -sS \"https://gateway.bit2me.com/v1/trading/movement\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"x-api-key: $BIT2ME_API_KEY\" \\\n  -H \"api-signature: $BIT2ME_SIGNATURE\" \\\n  -H \"x-nonce: $BIT2ME_NONCE\""
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Official samples: https://github.com/bit2me-devs/trading-spot-samples\n// Get funding movements\nconst SERVER = 'https://gateway.bit2me.com';\nconst PATH = '/v1/trading/movement';\n// Sign PATH with HMAC as in node/auth, then:\n// axios.get(SERVER + PATH, { headers: { 'x-api-key', 'api-signature', 'x-nonce' } });"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Get funding movements\n# HMAC: sha256(nonce:path[:json]) then hmac-sha512, base64\n# See guides/authentication.mdx\nimport os\nPATH = \"/v1/trading/movement\"\nSERVER = \"https://gateway.bit2me.com\"\n"
          }
        ]
      }
    },
    "/v1/signin/apikey": {
      "post": {
        "tags": [
          "WsAuth"
        ],
        "summary": "Get token",
        "description": "An authentication token must be requested via this REST API endpoint in order to connect to and authenticate with our WebSockets API.\nThe token should be used within 1 minute of creation, but it does not expire once a successful WebSockets connection and private\nsubscription has been made and is maintained.\n",
        "externalDocs": {
          "url": "https://github.com/bit2me-devs/trading-spot-samples/tree/main/node/rest/ws-auth/get-token",
          "description": "See code sample"
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accessToken"
                  ],
                  "properties": {
                    "accessToken": {
                      "$ref": "#/components/schemas/TokenResponse"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Js",
            "label": "Node",
            "source": "const axios = require('axios');\nconst crypto = require('crypto');\n\nconst API_KEY = 'YOUR_API_KEY';\nconst SECRET = 'YOUR_API_SECRET';\n\nconst NONCE = Date.now();\nconst PATH = '/v1/signin/apikey';\nconst SERVER = 'https://gateway.bit2me.com';\n\nconst getAuthHeaders = (nonce, path, body) => {\n  const messageToSign = getClientMessageToSign(nonce, path, body);\n  const signature = getMessageSignature(messageToSign, SECRET);\n\n  return {\n    headers: {\n      'x-api-key': API_KEY,\n      'api-signature': signature,\n      'x-nonce': nonce\n    }\n  };\n};\n\nconst getClientMessageToSign = (nonce, url, body) => {\n  const hasBody = !!body && Object.keys(body).length > 0;\n\n  return hasBody\n    ? `${nonce}:${url}:${JSON.stringify(body)}`\n    : `${nonce}:${url}`;\n};\n\nconst getMessageSignature = (message, secret) => {\n  const hash = crypto.createHash('sha256');\n  const hmac = crypto.createHmac('sha512', secret);\n  const hashDigest = hash.update(message).digest('binary');\n  const hmacDigest = hmac.update(hashDigest, 'binary').digest('base64');\n\n  return hmacDigest;\n};\n\nconst config = getAuthHeaders(NONCE, PATH);\naxios.post(`${SERVER}${PATH}`, undefined, config).then(response=>console.log(response.data));\n"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -sS -X POST \"https://gateway.bit2me.com/v1/signin/apikey\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"x-api-key: $BIT2ME_API_KEY\" \\\n  -H \"api-signature: $BIT2ME_SIGNATURE\" \\\n  -H \"x-nonce: $BIT2ME_NONCE\""
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Official samples: https://github.com/bit2me-devs/trading-spot-samples\n// Get token\nconst SERVER = 'https://gateway.bit2me.com';\nconst PATH = '/v1/signin/apikey';\n// Sign PATH with HMAC as in node/auth, then:\n// axios.post(SERVER + PATH, { headers: { 'x-api-key', 'api-signature', 'x-nonce' } });\n// https://github.com/bit2me-devs/trading-spot-samples/tree/main/node/rest/ws-auth/get-token"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Get token\n# HMAC: sha256(nonce:path[:json]) then hmac-sha512, base64\n# See guides/authentication.mdx\nimport os\nPATH = \"/v1/signin/apikey\"\nSERVER = \"https://gateway.bit2me.com\"\n"
          }
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "ExplorerCryptoParamInQuery": {
        "name": "crypto",
        "in": "query",
        "description": "The crypto service",
        "schema": {
          "type": "string",
          "enum": [
            "BTCTEST",
            "BTC"
          ]
        }
      },
      "ExplorerCryptoParamInPath": {
        "name": "crypto",
        "in": "path",
        "required": true,
        "description": "The crypto service",
        "schema": {
          "type": "string",
          "enum": [
            "BTCTEST",
            "BTC"
          ]
        }
      },
      "ExplorerBlockHashParam": {
        "name": "hash",
        "in": "path",
        "required": true,
        "description": "The block hash",
        "schema": {
          "type": "string",
          "pattern": "^[0-9a-f]{64}$"
        }
      },
      "ExplorerBlockHeightParam": {
        "name": "height",
        "in": "path",
        "required": true,
        "description": "The block height",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "ExplorerTransactionHashParam": {
        "name": "hash",
        "in": "path",
        "required": true,
        "description": "The transaction hash",
        "schema": {
          "type": "string",
          "pattern": "^[0-9a-f]{64}$"
        }
      },
      "ExplorerAddressParam": {
        "name": "addr",
        "in": "path",
        "required": true,
        "description": "The address id",
        "schema": {
          "type": "string"
        }
      },
      "ExplorerMultipleAddressParam": {
        "name": "addr",
        "in": "path",
        "required": true,
        "description": "The address id (use a comma delimited list to use multiple addresses)",
        "schema": {
          "type": "string"
        }
      },
      "ExplorerRawParam": {
        "name": "raw",
        "in": "query",
        "schema": {
          "type": "boolean"
        }
      },
      "QuerySubtypeParam": {
        "name": "subtype",
        "in": "query",
        "description": "Specify the transaction subtype to filter the entries to be returned (or comma delimited list of subtypes)",
        "required": false,
        "example": "purchase",
        "schema": {
          "type": "string",
          "enum": [
            "purchase",
            "sell",
            "manual-send",
            "automatic-send",
            "manual-transfer",
            "funding",
            "receive",
            "transfer",
            "swap",
            "reimbursement",
            "earn",
            "launchpad-purchase"
          ]
        }
      },
      "QueryMethodParam": {
        "name": "method",
        "in": "query",
        "description": "Specify the transaction method to filter the entries to be returned (or comma delimited list of methods)",
        "required": false,
        "example": "pocket",
        "schema": {
          "type": "string",
          "enum": [
            "pocket",
            "blockchain",
            "card",
            "bank",
            "bank-transfer",
            "profit-share",
            "promo-referral"
          ]
        }
      }
    },
    "requestBodies": {
      "executeCardDepositOrderData": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "orderId"
              ],
              "properties": {
                "orderId": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": true
      },
      "UserAddress": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "streetAddress",
                "city",
                "stateCode",
                "zip",
                "countryCode",
                "nationalityCountryCode"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "userId": {
                  "type": "string",
                  "format": "uuid"
                },
                "alias": {
                  "type": "string",
                  "maxLength": 50
                },
                "streetAddress": {
                  "type": "string",
                  "maxLength": 255
                },
                "city": {
                  "type": "string",
                  "maxLength": 255
                },
                "stateCode": {
                  "type": "string",
                  "description": "Value obtained from 'fips' (Federal Information Processing Standard  (https://en.wikipedia.org/wiki/Federal_Information_Processing_Standards)) field in /v1/misc/country/{countryISOCode}/region response.\n\n  Additional information of this endpoint is available in misc section\n"
                },
                "zip": {
                  "type": "string",
                  "maxLength": 255
                },
                "countryCode": {
                  "$ref": "#/components/schemas/CountryISO3166-1Alpha2Param"
                },
                "isResidence": {
                  "type": "boolean"
                },
                "isDefaultAddress": {
                  "type": "boolean"
                },
                "nationalityCountryCode": {
                  "$ref": "#/components/schemas/CountryISO3166-1Alpha2Param"
                }
              }
            }
          }
        },
        "description": "Address params",
        "required": true
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "[Authentication](/#section/Authentication)\n"
      }
    },
    "schemas": {
      "ForbiddenErrorResponse": {
        "required": [
          "message",
          "error",
          "statusCode"
        ],
        "properties": {
          "message": {
            "type": "string",
            "example": "Invalid signature"
          },
          "error": {
            "type": "string",
            "example": "Forbidden"
          },
          "statusCode": {
            "type": "number",
            "description": "HTTP status code",
            "example": 403
          },
          "reqId": {
            "type": "uuid"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "NotFoundErrorResponse": {
        "required": [
          "message",
          "error",
          "statusCode"
        ],
        "properties": {
          "message": {
            "type": "string"
          },
          "error": {
            "type": "string",
            "example": "Not found"
          },
          "statusCode": {
            "type": "number",
            "description": "HTTP status code",
            "example": 404
          },
          "reqId": {
            "type": "uuid"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "BadRequestErrorResponse": {
        "required": [
          "message",
          "error",
          "statusCode"
        ],
        "properties": {
          "message": {
            "type": "string"
          },
          "error": {
            "type": "string",
            "example": "Bad Request"
          },
          "statusCode": {
            "type": "number",
            "description": "HTTP status code",
            "example": 400
          },
          "reqId": {
            "type": "uuid"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "required": [
          "message",
          "error"
        ],
        "properties": {
          "message": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "statusCode": {
            "type": "number",
            "description": "HTTP status code",
            "example": 500
          },
          "reqId": {
            "type": "uuid"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "MarketConfigResponse": {
        "properties": {
          "id": {
            "type": "uuid",
            "description": "Market identifier"
          },
          "symbol": {
            "$ref": "#/components/schemas/MarketSymbolParam"
          },
          "minAmount": {
            "type": "number",
            "description": "Minimum order amount (in terms of base currency)"
          },
          "maxAmount": {
            "type": "number",
            "description": "Maximum order amount (in terms of base currency)"
          },
          "minPrice": {
            "type": "number",
            "description": "Minimum order price (in terms of quote currency)"
          },
          "maxPrice": {
            "type": "number",
            "description": "Maximum order price (in terms of quote currency)"
          },
          "minOrderSize": {
            "type": "number",
            "description": "Minimum order size (in terms of base amount per quote price)"
          },
          "pricePrecision": {
            "type": "number",
            "description": "Scaling decimals places for price"
          },
          "tickSize": {
            "type": "number",
            "deprecated": true,
            "description": "Decimal number representing scaling decimals places for price"
          },
          "amountPrecision": {
            "type": "number",
            "description": "Scaling decimals places for amount"
          },
          "marketEnabled": {
            "$ref": "#/components/schemas/MarketConfigOperationEnabledParam"
          },
          "marketEnabledAt": {
            "$ref": "#/components/schemas/ISODateTimeParam",
            "description": "Date on which the market has started. It can be a past date if the market is enabled or a future date if the status (`marketEnabled`) is `enabled_at`"
          },
          "initialPrice": {
            "type": "number",
            "description": "Initial market price. If the market is not yet enabled, the orders must take that reference price to be placed above or below"
          }
        },
        "example": {
          "id": "767a9906-3757-4d9c-8d90-504eb0a35a18",
          "symbol": "BTC/EUR",
          "minAmount": 0.0001,
          "maxAmount": 20,
          "minPrice": 1000,
          "maxPrice": 1000000,
          "minOrderSize": 1,
          "tickSize": 1e-06,
          "pricePrecision": 4,
          "amountPrecision": 6,
          "initialPrice": 0,
          "marketEnabled": "enabled",
          "marketEnabledAt": null
        }
      },
      "TickersResponse": {
        "type": "array",
        "items": {
          "properties": {
            "timestamp": {
              "$ref": "#/components/schemas/UnixEpochFilterParam",
              "description": "Ticker fetched timestamp (`Unix epoch time format`)"
            },
            "symbol": {
              "$ref": "#/components/schemas/MarketSymbolParam"
            },
            "open": {
              "type": "number",
              "description": "Opening price (price 24 horus ago)"
            },
            "bid": {
              "type": "number",
              "description": "Highest price a buyer will pay for order"
            },
            "ask": {
              "type": "number",
              "description": "Lowest price a seller will take for order"
            },
            "close": {
              "type": "number",
              "description": "Closing price (last trade price)"
            },
            "high": {
              "type": "number",
              "description": "Highest price in the last 24 hours"
            },
            "low": {
              "type": "number",
              "description": "Lowest price in the last 24 hours"
            },
            "percentage": {
              "type": "number",
              "description": "Percentage of current price versus opening price"
            },
            "baseVolume": {
              "type": "number",
              "description": "Volume traded in terms of the base currency"
            },
            "quoteVolume": {
              "type": "number",
              "description": "Volume traded in terms of the quote currency"
            }
          }
        },
        "example": [
          {
            "timestamp": 1715081606087,
            "symbol": "BTC/EUR",
            "open": 59692.2,
            "close": 59459.3,
            "bid": 59459.3,
            "ask": 59459.4,
            "high": 59807.8,
            "low": 58259,
            "baseVolume": 506.2471485105999,
            "percentage": -0.39,
            "quoteVolume": 30160053.557880376
          }
        ]
      },
      "CandleResponse": {
        "type": "array",
        "items": {
          "type": "array",
          "items": {
            "type": "number",
            "description": "Entries containing timestamp (`Unix epoch time format`), open, high, low, close and volume (in terms of the base currency)"
          }
        },
        "example": [
          [
            1712494800000,
            69321.2,
            69492,
            69294.3,
            69346.9,
            1.58942378
          ],
          [
            1712498400000,
            69344.3,
            69637.2,
            69225.8,
            69583.7,
            8.52748622
          ]
        ]
      },
      "OrderBookResponse": {
        "type": "object",
        "properties": {
          "asks": {
            "description": "Entries containing sell orders with price and volume",
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          "bids": {
            "type": "array",
            "description": "Entries containing buy orders with price and volume",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          },
          "timestamp": {
            "$ref": "#/components/schemas/UnixEpochFilterParam"
          },
          "symbol": {
            "$ref": "#/components/schemas/MarketSymbolParam"
          }
        },
        "example": {
          "bids": [
            [
              63614.1,
              0.05
            ],
            [
              63614,
              0.01511771
            ]
          ],
          "asks": [
            [
              63614.2,
              0.0049614
            ],
            [
              63624.8,
              0.057
            ]
          ],
          "timestamp": 1715871588147,
          "symbol": "BTC/EUR"
        }
      },
      "LastTradeResponse": {
        "type": "array",
        "items": {
          "type": "array",
          "items": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/OrderSideParam"
              },
              {
                "type": "number",
                "description": "Price, amount and timestamp (`Unix epoch time format`) of trade"
              }
            ]
          }
        },
        "example": [
          [
            "sell",
            63606.3,
            0.0008,
            1715087548704
          ],
          [
            "buy",
            63601.2,
            0.0013,
            1715087523417
          ]
        ]
      },
      "OrderResponse": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/OrderIdentifierParam"
          },
          "userId": {
            "$ref": "#/components/schemas/UserIdentifierParam"
          },
          "side": {
            "$ref": "#/components/schemas/OrderSideParam"
          },
          "symbol": {
            "$ref": "#/components/schemas/MarketSymbolParam"
          },
          "fromCurrency": {
            "type": "string",
            "description": "Base currency"
          },
          "toCurrency": {
            "type": "string",
            "description": "Quote currency"
          },
          "price": {
            "description": "Price for `limit` orders in quote currency",
            "$ref": "#/components/schemas/AmountParam"
          },
          "stopPrice": {
            "description": "Trigger price for `stop-limit` orders in quote currency",
            "$ref": "#/components/schemas/AmountParam"
          },
          "amount": {
            "description": "Order size in base currency",
            "$ref": "#/components/schemas/AmountParam",
            "example": 0.35
          },
          "filledAmount": {
            "type": "number",
            "description": "Filled order size in terms of base currency",
            "example": 0.24
          },
          "dustAmount": {
            "type": "number",
            "description": "Difference amount between the order amount and the filled amount when the order status is filled",
            "example": 0.11
          },
          "feeAmount": {
            "type": "number",
            "description": "Fee percentage respect to trade amount `amount`",
            "example": 24.28260561
          },
          "feeCurrency": {
            "type": "string",
            "description": "Field `feeAmount` currency",
            "example": "B2M"
          },
          "status": {
            "$ref": "#/components/schemas/OrderStatusParam"
          },
          "orderType": {
            "$ref": "#/components/schemas/OrderTypeParam"
          },
          "cost": {
            "$ref": "#/components/schemas/CostParam"
          },
          "createdAt": {
            "$ref": "#/components/schemas/ISODateTimeParam",
            "description": "Datetime the order was created"
          },
          "updatedAt": {
            "$ref": "#/components/schemas/ISODateTimeParam",
            "description": "Last datetime the order was updated"
          },
          "cancelReason": {
            "type": "string",
            "description": "Detailed message about order cancel reason"
          },
          "clientOrderId": {
            "$ref": "#/components/schemas/ClientOrderIdParam"
          },
          "postOnly": {
            "$ref": "#/components/schemas/PostOnlyParam"
          },
          "timeInForce": {
            "$ref": "#/components/schemas/TimeInForceParam"
          }
        },
        "example": {
          "id": "536ee1dc-528a-419e-9c00-5e04c010658d",
          "userId": "2bf436fc-43e6-459a-b647-6b446f72ad96",
          "side": "buy",
          "symbol": "BTC/EUR",
          "price": 65000.5,
          "orderAmount": 0.35,
          "filledAmount": 0,
          "status": "open",
          "orderType": "limit",
          "cost": 0,
          "createdAt": "2024-05-07T14:08:30.961Z",
          "updatedAt": "2024-05-07T14:08:30.961Z",
          "stopPrice": 0,
          "clientOrderId": null,
          "cancelReason": null,
          "postOnly": null,
          "timeInForce": "GTC"
        }
      },
      "TradeResponse": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/TradeIdentifierParam"
          },
          "orderId": {
            "$ref": "#/components/schemas/OrderIdentifierParam"
          },
          "symbol": {
            "$ref": "#/components/schemas/MarketSymbolParam"
          },
          "side": {
            "$ref": "#/components/schemas/OrderSideParam"
          },
          "orderType": {
            "$ref": "#/components/schemas/OrderTypeParam"
          },
          "price": {
            "description": "Price trade was executed at (currency indicated by `priceCurrency` field)",
            "$ref": "#/components/schemas/AmountParam"
          },
          "amount": {
            "description": "Trade volume (currency indicated by `amountCurrency` field)",
            "$ref": "#/components/schemas/AmountParam"
          },
          "priceCurrency": {
            "description": "Field `price` currency",
            "type": "string"
          },
          "amountCurrency": {
            "description": "Field `amount` currency",
            "type": "string"
          },
          "isMaker": {
            "description": "`true` if trade was executed with user as the maker, `false` if taker\n",
            "type": "boolean"
          },
          "createdAt": {
            "$ref": "#/components/schemas/ISODateTimeParam"
          },
          "cost": {
            "description": "Total cost (quote currency)",
            "type": "number"
          },
          "costEuro": {
            "description": "Total cost (EURO currency)",
            "type": "number"
          },
          "clientOrderId": {
            "$ref": "#/components/schemas/ClientOrderIdParam"
          },
          "feeAmount": {
            "type": "number",
            "description": "Fee amount (currency indicated by `feeCurrency` field)"
          },
          "feePercentage": {
            "type": "number",
            "description": "Fee percentage respect to trade amount `amount`"
          },
          "feeCurrency": {
            "description": "Field `feeAmount` currency",
            "type": "string"
          }
        },
        "example": {
          "id": "4278a86a-53e7-4997-9102-01646ae8954a",
          "orderId": "536ee1dc-528a-419e-9c00-5e04c010658d",
          "symbol": "BTC/EUR",
          "side": "buy",
          "orderType": "limit",
          "price": 65000.5,
          "amount": 0.35,
          "priceCurrency": "EUR",
          "amountCurrency": "BTC",
          "createdAt": "2024-05-02T08:58:47.727Z",
          "cost": 22750.175,
          "costEuro": 22750.175,
          "clientOrderId": null,
          "isMaker": true,
          "feeAmount": 0.0750087,
          "feePercentage": 0.3,
          "feePercentageDiscount": 0,
          "feeCurrency": "EUR"
        }
      },
      "WalletResponse": {
        "properties": {
          "id": {
            "type": "uuid",
            "description": "Wallet identifier"
          },
          "userId": {
            "$ref": "#/components/schemas/UserIdentifierParam"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyParam"
          },
          "balance": {
            "type": "number",
            "description": "Balance available"
          },
          "blockedBalance": {
            "type": "number",
            "description": "Balance in use on active orders"
          },
          "createdAt": {
            "$ref": "#/components/schemas/ISODateTimeParam"
          }
        },
        "example": {
          "id": "ec7c234e-b6c0-4c13-b458-b613f3c608f1",
          "userId": "2bf436fc-43e6-459a-b647-6b446f72ad96",
          "currency": "BTC",
          "balance": 0.35,
          "blockedBalance": 0,
          "createdAt": "2023-09-13T14:05:42.149Z"
        }
      },
      "WorkingCapitalLimitResponse": {
        "properties": {
          "currency": {
            "$ref": "#/components/schemas/CurrencyParam"
          },
          "type": {
            "type": "string",
            "description": "Working capital limit type",
            "enum": [
              "deposit"
            ]
          },
          "limit": {
            "type": "number",
            "description": "Maximum working capital amount allowed in the rolling 24-hour window"
          },
          "used": {
            "type": "number",
            "description": "Working capital amount used in the last 24 hours"
          },
          "remaining": {
            "type": "number",
            "description": "Remaining working capital amount available in the rolling 24-hour window"
          },
          "refillThreshold": {
            "type": "number",
            "description": "Minimum balance amount that triggers an automatic working capital refill"
          }
        },
        "example": {
          "currency": "B2M",
          "type": "deposit",
          "limit": 5000,
          "used": 2500,
          "remaining": 2500,
          "refillThreshold": 2500
        }
      },
      "MovementResponse": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "movementType": {
            "type": "string",
            "enum": [
              "deposit",
              "withdrawal"
            ]
          },
          "amount": {
            "type": "number"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "walletId": {
            "type": "string",
            "format": "uuid"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "completed",
              "canceled"
            ]
          },
          "serviceOrderName": {
            "type": "string",
            "enum": [
              "wallet",
              "admin",
              "working-capital"
            ]
          }
        }
      },
      "AddOrderRequest": {
        "type": "object",
        "required": [
          "side",
          "symbol",
          "amount",
          "orderType"
        ],
        "properties": {
          "side": {
            "$ref": "#/components/schemas/OrderSideParam"
          },
          "symbol": {
            "type": "string",
            "description": "The market symbol"
          },
          "price": {
            "description": "Price for `limit` orders in quote currency",
            "$ref": "#/components/schemas/AmountParam"
          },
          "stopPrice": {
            "description": "Trigger price for `stop-limit` orders in quote currency",
            "$ref": "#/components/schemas/AmountParam"
          },
          "amount": {
            "description": "Order volume in base currency",
            "$ref": "#/components/schemas/AmountParam"
          },
          "orderType": {
            "$ref": "#/components/schemas/OrderTypeParam"
          },
          "clientOrderId": {
            "type": "string",
            "description": "Optional client internal order identifier"
          },
          "postOnly": {
            "$ref": "#/components/schemas/PostOnlyParam"
          },
          "timeInForce": {
            "$ref": "#/components/schemas/TimeInForceParam"
          },
          "amountInQuote": {
            "type": "boolean",
            "default": false,
            "description": "Option to express volume in quote currency. This option is supported only for market orders. When using this parameter, Bit2Me calculates market price of the asset and immediately executes the order. This means that 100% precision is not guaranteed. When using this feature, you acknowledge that you understand how this works and accept that the differences arising from this method are not an error and are not Bit2Me responsibility to fix or provide you with additional information."
          }
        },
        "example": {
          "side": "buy",
          "symbol": "BTC/EUR",
          "price": "65000.5",
          "amount": "0.35",
          "orderType": "limit"
        }
      },
      "SortDirectionParam": {
        "type": "string",
        "description": "Sort direction",
        "example": "asc",
        "enum": [
          "asc",
          "desc"
        ]
      },
      "UnixEpochFilterParam": {
        "type": "number",
        "description": "Time in Unix epoch time format",
        "example": 1713613906000
      },
      "ISODateTimeParam": {
        "type": "string",
        "format": "date-time",
        "description": "Date time in ISO 8601 string format",
        "example": "2024-05-07T14:08:30.961Z"
      },
      "MarketSymbolParam": {
        "type": "string",
        "description": "Market symbol",
        "example": "BTC/EUR"
      },
      "ClientOrderIdParam": {
        "type": "string",
        "description": "Client order internal identifier"
      },
      "OHLCVIntervalParam": {
        "type": "string",
        "enum": [
          1,
          5,
          15,
          30,
          60,
          240,
          1440
        ],
        "example": 1,
        "description": "The interval of entries in minutes: 1, 5, 15, 30, 60 (1 hour), 240 (4 hours), 1440 (1 day)\n"
      },
      "AmountParam": {
        "type": "string",
        "pattern": "^[0-9]*\\.?[0-9]*$",
        "example": "0.35",
        "minLength": 1,
        "maxLength": 50
      },
      "PocketIdentifierParam": {
        "type": "uuid",
        "description": "Bit2Me pocket identifier",
        "example": "27baae74-bb1c-4d99-a24d-d2f199364bfc"
      },
      "CurrencyParam": {
        "type": "string",
        "example": "BTC"
      },
      "TradeIdentifierParam": {
        "type": "uuid",
        "description": "Trade identifier",
        "example": "4278a86a-53e7-4997-9102-01646ae8954a"
      },
      "UserIdentifierParam": {
        "type": "uuid",
        "description": "User identifier",
        "example": "2bf436fc-43e6-459a-b647-6b446f72ad96"
      },
      "PostOnlyParam": {
        "type": "boolean",
        "description": "Indicates that limit order can only be created as a maker, otherwise it is not created (only for limit orders)"
      },
      "OrderIdentifierParam": {
        "type": "uuid",
        "description": "Order identifier",
        "example": "536ee1dc-528a-419e-9c00-5e04c010658d"
      },
      "OrderSideParam": {
        "type": "string",
        "description": "Order direction",
        "example": "buy",
        "enum": [
          "buy",
          "sell"
        ]
      },
      "OrderTypeParam": {
        "type": "string",
        "description": "Order type",
        "example": "limit",
        "enum": [
          "limit",
          "stop-limit",
          "market"
        ]
      },
      "OrderStatusParam": {
        "type": "string",
        "description": "Order status. The stop limit order remains inactive until the stop price is reached, then it becomes open or filled",
        "example": "open",
        "enum": [
          "open",
          "filled",
          "cancelled",
          "inactive"
        ]
      },
      "TimeInForceParam": {
        "type": "string",
        "description": "Time-in-force of the order to specify how long it should remain in the order book before being cancelled:\nGTC (Good-'til-cancelled) is default if the parameter is omitted.\nIOC (Immediate-or-cancel) will immediately execute the amount possible and cancel any remaining balance rather than resting in the book.\nFOK (Fill-or-kill) will immediately wait for order to be fully executed without taking the risk of receiving partial fills\n",
        "enum": [
          "GTC",
          "IOC",
          "FOK"
        ],
        "default": "GTC"
      },
      "MarketConfigOperationEnabledParam": {
        "type": "string",
        "description": "The current status of the market. The market can be enabled, disabled, enabled at specified date in the `marketEnabledAt` field, or frozen, which does not allow orders to be added or deleted",
        "enum": [
          "enabled",
          "enabled_at",
          "frozen",
          "disabled"
        ]
      },
      "CostParam": {
        "type": "number",
        "description": "Total cost by multiplying amount by price",
        "example": 22750.175
      },
      "OffsetParam": {
        "type": "number",
        "maximum": 20000,
        "description": "The number of records the result should skip being the page size the `limit` field"
      },
      "TRErrorResponse": {
        "required": [
          "errorCode",
          "message",
          "errorType",
          "date"
        ],
        "properties": {
          "errorCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "errorType": {
            "type": "string",
            "default": "GENERIC"
          },
          "date": {
            "type": "date-time"
          }
        }
      },
      "AssetsResponseV2": {
        "properties": {
          "symbol": {
            "type": "object",
            "properties": {
              "symbol": {
                "type": "string",
                "example": "string"
              },
              "name": {
                "type": "string",
                "example": "string"
              },
              "slug": {
                "type": "string",
                "example": "string"
              },
              "mainwebUri": {
                "type": "string",
                "example": "string"
              },
              "uriScheme": {
                "type": "string",
                "example": "string"
              },
              "hexColor": {
                "type": "string",
                "example": "string"
              },
              "assetType": {
                "type": "string",
                "example": "string"
              },
              "exponent": {
                "type": "integer",
                "example": 0
              },
              "unitPriceScale": {
                "type": "integer",
                "example": 0
              },
              "transactionUnitPriceScale": {
                "type": "integer",
                "example": 0
              },
              "addressRegex": {
                "type": "string",
                "example": "string"
              },
              "hasImage": {
                "type": "boolean",
                "example": true
              },
              "hasPaymentRequest": {
                "type": "boolean",
                "example": true
              },
              "isERC20Token": {
                "type": "boolean",
                "example": true
              },
              "enabled": {
                "type": "boolean",
                "example": true
              },
              "lite": {
                "type": "boolean",
                "example": true
              },
              "exchange": {
                "type": "string",
                "example": "string"
              },
              "pairsWith": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "string"
                ]
              }
            },
            "required": [
              "symbol",
              "name",
              "slug",
              "mainwebUri",
              "uriScheme",
              "hexColor",
              "assetType",
              "exponent",
              "unitPriceScale",
              "transactionUnitPriceScale",
              "addressRegex",
              "hasImage",
              "hasPaymentRequest",
              "isERC20Token",
              "enabled",
              "lite",
              "exchange",
              "pairsWith"
            ]
          }
        },
        "required": [
          "symbol"
        ],
        "example": {
          "symbol": {
            "symbol": "string",
            "name": "string",
            "slug": "string",
            "mainwebUri": "string",
            "uriScheme": "string",
            "hexColor": "string",
            "assetType": "string",
            "exponent": 0,
            "unitPriceScale": 0,
            "transactionUnitPriceScale": 0,
            "addressRegex": "string",
            "hasImage": true,
            "hasPaymentRequest": true,
            "isERC20Token": true,
            "enabled": true,
            "lite": true,
            "exchange": "string",
            "pairsWith": [
              "string"
            ]
          }
        }
      },
      "AssetResponseV2": {
        "properties": {
          "symbol": {
            "type": "string",
            "example": "string"
          },
          "name": {
            "type": "string",
            "example": "string"
          },
          "slug": {
            "type": "string",
            "example": "string"
          },
          "mainwebUri": {
            "type": "string",
            "example": "string"
          },
          "uriScheme": {
            "type": "string",
            "example": "string"
          },
          "hexColor": {
            "type": "string",
            "example": "string"
          },
          "assetType": {
            "type": "string",
            "example": "string"
          },
          "exponent": {
            "type": "integer",
            "example": 0
          },
          "unitPriceScale": {
            "type": "integer",
            "example": 0
          },
          "transactionUnitPriceScale": {
            "type": "integer",
            "example": 0
          },
          "addressRegex": {
            "type": "string",
            "example": "string"
          },
          "hasImage": {
            "type": "boolean",
            "example": true
          },
          "hasPaymentRequest": {
            "type": "boolean",
            "example": true
          },
          "isERC20Token": {
            "type": "boolean",
            "example": true
          },
          "enabled": {
            "type": "boolean",
            "example": true
          },
          "lite": {
            "type": "boolean",
            "example": true
          },
          "exchange": {
            "type": "string",
            "example": "string"
          },
          "pairsWith": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "string"
            ]
          }
        },
        "required": [
          "symbol",
          "name",
          "slug",
          "mainwebUri",
          "uriScheme",
          "hexColor",
          "assetType",
          "exponent",
          "unitPriceScale",
          "transactionUnitPriceScale",
          "addressRegex",
          "hasImage",
          "hasPaymentRequest",
          "isERC20Token",
          "enabled",
          "lite",
          "exchange",
          "pairsWith"
        ],
        "example": {
          "symbol": "string",
          "name": "string",
          "slug": "string",
          "mainwebUri": "string",
          "uriScheme": "string",
          "hexColor": "string",
          "assetType": "string",
          "exponent": 0,
          "unitPriceScale": 0,
          "transactionUnitPriceScale": 0,
          "addressRegex": "string",
          "hasImage": true,
          "hasPaymentRequest": true,
          "isERC20Token": true,
          "enabled": true,
          "lite": true,
          "exchange": "string",
          "pairsWith": [
            "string"
          ]
        }
      },
[...]
